In [2]:
from docling.document_converter import DocumentConverter
import json
source = r"C:\Users\malhar.yadav\Downloads\SEP2024_AA12920184_HLD.PDF"  # document per local path or URL
converter = DocumentConverter()
result = converter.convert(source)
# print(result.document.export_to_dict)  # output: "## Docling Technical Report[...]"
with open("output.json",mode="w", encoding="utf-8") as fp:
        fp.write(json.dumps(result.document.export_to_dict()))

In [39]:
from docling.document_converter import DocumentConverter
import json
source = r"C:\Users\malhar.yadav\Downloads\sb.pdf"  # document per local path or URL
converter = DocumentConverter()
result = converter.convert(source)
# print(result.document.export_to_dict)  # output: "## Docling Technical Report[...]"
with open("output.json",mode="w", encoding="utf-8") as fp:
        fp.write(json.dumps(result.document.export_to_dict()))

c:\Users\malhar.yadav\scripts\PdfToDashboard\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [27]:
import json
with open("output.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)
json_data.keys()

dict_keys(['schema_name', 'version', 'name', 'origin', 'furniture', 'body', 'groups', 'texts', 'pictures', 'tables', 'key_value_items', 'form_items', 'pages'])

In [57]:
import pandas as pd
newdata = []
for text_data in json_data['texts']:
    newdata.append([text_data["prov"][0]["page_no"], text_data["orig"], text_data["text"]])
    # print(text_data["prov"][0]["page_no"], text_data["orig"], text_data["text"])
df = pd.DataFrame(newdata, columns=["page_no", "orig", "text"])
df.to_csv("output.csv", index=False)

In [113]:
# import pandas as pd
# columns = []
# rows = []
# def split_into_n_sublists(input_list, n):
#     # Pad input list with None to make its length a multiple of n
#     while len(input_list) < n * n:
#         input_list.append(None)
    
#     # Split into exactly `n` sublists with `n` elements each
#     return [input_list[i * n:(i + 1) * n] for i in range(n)]

# for table_data in json_data["tables"][1]["data"]["table_cells"]:
#    #  print(type(table_data["column_header"]), table_data["row_header"])
#     if table_data["column_header"]:
#         columns.append(table_data["text"])
#     if table_data["row_header"] == False and table_data["column_header"] == False:
#         rows.append(table_data["text"])
   #  print(table_data["text"], table_data["column_header"], table_data["row_header"])
# df = pd.DataFrame(split_into_n_sublists(rows, len(columns)), columns=columns)
# df
# print(split_into_n_sublists(rows, len(columns)))

json_data["tables"][1]["data"]["table_cells"]

[{'bbox': {'l': 40.014,
   't': 365.95900000000006,
   'r': 99.82,
   'b': 375.848,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 0,
  'end_row_offset_idx': 1,
  'start_col_offset_idx': 0,
  'end_col_offset_idx': 1,
  'text': 'Account Type खाते का �कार',
  'column_header': True,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 189.572,
   't': 365.95900000000006,
   'r': 259.895,
   'b': 375.848,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 0,
  'end_row_offset_idx': 1,
  'start_col_offset_idx': 1,
  'end_col_offset_idx': 2,
  'text': 'Account Details खाता �ववरण',
  'column_header': True,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 355.289,
   't': 365.95900000000006,
   'r': 453.749,
   'b': 375.848,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 0,
  'end_row_offset_idx': 1,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': 'No. of ISINs/ Schemes ISIN/योजनाओं क� सं�या',
  'column_header': True,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 507.823,
   't': 365.95900000000006,
   'r': 550.918,
   'b': 375.848,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 0,
  'end_row_offset_idx': 1,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': 'Value in ` ₹  म� मू�य',
  'column_header': True,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 24.97,
   't': 400.686,
   'r': 110.378,
   'b': 408.692,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 1,
  'end_row_offset_idx': 2,
  'start_col_offset_idx': 0,
  'end_col_offset_idx': 1,
  'text': 'CDSL Demat Account',
  'column_header': False,
  'row_header': True,
  'row_section': False},
 {'bbox': {'l': 124.852,
   't': 396.191,
   'r': 276.6,
   'b': 413.187,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 1,
  'end_row_offset_idx': 2,
  'start_col_offset_idx': 1,
  'end_col_offset_idx': 2,
  'text': 'ZERODHA BROKING LIMITED DP Id: 12081601   Client Id :10950391',
  'column_header': False,
  'row_header': True,
  'row_section': False},
 {'bbox': {'l': 401.912,
   't': 400.686,
   'r': 407.126,
   'b': 408.692,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 1,
  'end_row_offset_idx': 2,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': '3',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 534.009,
   't': 400.686,
   'r': 574.317,
   'b': 408.692,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 1,
  'end_row_offset_idx': 2,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': '25,827.25',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 24.97,
   't': 425.911,
   'r': 100.031,
   'b': 433.917,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 2,
  'end_row_offset_idx': 3,
  'start_col_offset_idx': 0,
  'end_col_offset_idx': 1,
  'text': 'Mutual Fund Folios',
  'column_header': False,
  'row_header': True,
  'row_section': False},
 {'bbox': {'l': 124.852,
   't': 425.911,
   'r': 155.074,
   'b': 433.917,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 2,
  'end_row_offset_idx': 3,
  'start_col_offset_idx': 1,
  'end_col_offset_idx': 2,
  'text': '5 Folios',
  'column_header': False,
  'row_header': True,
  'row_section': False},
 {'bbox': {'l': 401.912,
   't': 425.911,
   'r': 407.126,
   'b': 433.917,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 2,
  'end_row_offset_idx': 3,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': '5',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 526.889,
   't': 425.911,
   'r': 574.317,
   'b': 433.917,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 2,
  'end_row_offset_idx': 3,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': '2,83,556.98',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 451.433,
   't': 446.804,
   'r': 474.436,
   'b': 455.84900000000005,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 3,
  'end_row_offset_idx': 4,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': 'Total',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 520.9,
   't': 446.804,
   'r': 574.317,
   'b': 455.84900000000005,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 3,
  'end_row_offset_idx': 4,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': '3,09,384.23',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 421.399,
   't': 468.728,
   'r': 474.436,
   'b': 477.77299999999997,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 4,
  'end_row_offset_idx': 5,
  'start_col_offset_idx': 2,
  'end_col_offset_idx': 3,
  'text': 'Grand Total',
  'column_header': False,
  'row_header': False,
  'row_section': False},
 {'bbox': {'l': 520.9,
   't': 468.728,
   'r': 574.317,
   'b': 477.77299999999997,
   'coord_origin': 'TOPLEFT'},
  'row_span': 1,
  'col_span': 1,
  'start_row_offset_idx': 4,
  'end_row_offset_idx': 5,
  'start_col_offset_idx': 3,
  'end_col_offset_idx': 4,
  'text': '3,09,384.23',
  'column_header': False,
  'row_header': False,
  'row_section': False}]

In [95]:
def split_into_n_sublists(input_list, n):
    # Pad input list with None to make its length a multiple of n
    while len(input_list) < n * n:
        input_list.append(None)
    
    # Split into exactly `n` sublists with `n` elements each
    return [input_list[i * n:(i + 1) * n] for i in range(n)]

# Example usage
input_list = [
    "MALHAR SACHIN YADAV",
    "CDSL Demat Accounts NSDL Demat Accounts* Mutual Fund Folios",
    "25,827.25 N.A 2,83,556.98",
    "Click Here",
    "Total Portfolio Value",
    "3,09,384.23"
]
num = 3  # The number of sublists AND elements in each sublist

result = split_into_n_sublists(input_list, num)
print(result)

[['MALHAR SACHIN YADAV', 'CDSL Demat Accounts NSDL Demat Accounts* Mutual Fund Folios', '25,827.25 N.A 2,83,556.98'], ['Click Here', 'Total Portfolio Value', '3,09,384.23'], [None, None, None]]

In [26]:
import pandas as pd

# Given list of dictionaries
data_list = [
    {"text": "Name/Joint Name (s)", "column_header": True, "row": 0, "col": 0},
    {"text": "Portfolio Valuation (In ₹)", "column_header": True, "row": 0, "col": 1},
    {"text": "View Statement", "column_header": True, "row": 0, "col": 3},
    {"text": "MALHAR SACHIN YADAV", "column_header": False, "row": 1, "col": 0},
    {"text": "CDSL Demat Accounts NSDL Demat Accounts* Mutual Fund Folios", "column_header": False, "row": 1, "col": 1},
    {"text": "25,827.25 N.A 2,83,556.98", "column_header": False, "row": 1, "col": 2},
    {"text": "Click Here", "column_header": False, "row": 1, "col": 3},
    {"text": "Total Portfolio Value", "column_header": False, "row": 2, "col": 1},
    {"text": "3,09,384.23", "column_header": False, "row": 2, "col": 2}
]

# Convert to DataFrame
df = pd.DataFrame(data_list)

# Pivot to a table format
df_pivot = df.pivot(index="row", columns="col", values="text")

# Reset column names
df_pivot.columns = [f"Column_{i}" for i in range(len(df_pivot.columns))]

df_pivot

,Column_0,Column_1,Column_2,Column_3
row,,,,
0,Name/Joint Name (s),Portfolio Valuation (In ₹),NaN,View Statement
1,MALHAR SACHIN YADAV,CDSL Demat Accounts NSDL Demat Accounts* Mutua...,"25,827.25 N.A 2,83,556.98",Click Here
2,NaN,Total Portfolio Value,"3,09,384.23",NaN

In [118]:
json_data["tables"].__len__()

8

In [120]:
import pandas as pd

# Raw extracted data
def get_tables(i):
    raw_data = json_data["tables"][i]["data"]["table_cells"]

# Determine the max number of columns
    max_columns = max(item["start_col_offset_idx"] + item["col_span"] for item in raw_data)

# Create an empty table structure
    table = {}

# Populate table based on extracted data
    for item in raw_data:
        row_idx = item["start_row_offset_idx"]
        col_idx = item["start_col_offset_idx"]
        col_span = item["col_span"]
        text = item["text"]

    # Initialize row if not exists
        if row_idx not in table:
            table[row_idx] = [""] * max_columns  # Initialize empty columns

    # Assign text to correct position, spanning columns if needed
        for i in range(col_span):
            table[row_idx][col_idx + i] = text if i == 0 else ""  # Leave merged columns empty after first

# Convert table dictionary to a structured list for DataFrame
    structured_data = [table[row] for row in sorted(table.keys())]

# Extract column headers separately
    columns = structured_data.pop(0)

# Create DataFrame
    df = pd.DataFrame(structured_data, columns=columns)

# Display DataFrame
    print(df)

for i in range(8):
    get_tables(i)

  Name/Joint Name (s) नाम/संयु�त नाम  \
0                MALHAR SACHIN YADAV
1

  Portfolio Valuation (In `) पोट�फो�लयो मू�यांकन ( ₹  में)  \
0  CDSL Demat Accounts NSDL Demat Accounts* Mutua...
1                              Total Portfolio Value

                             View Statement �ववरण देख�
0  25,827.25 N.A 2,83,556.98                Click Here
1                3,09,384.23
  Account Type खाते का �कार  \
0        CDSL Demat Account
1        Mutual Fund Folios
2
3

                          Account Details खाता �ववरण  \
0  ZERODHA BROKING LIMITED DP Id: 12081601   Clie...
1                                           5 Folios
2
3

  No. of ISINs/ Schemes ISIN/योजनाओं क� सं�या Value in ` ₹  म� मू�य
0                                           3             25,827.25
1                                           5           2,83,556.98
2                                       Total           3,09,384.23
3                                 Grand Total           3,09,384.23
   Month-Year माह-वष�  \
0            Oct 2023
1            Nov 2023
2            Dec 2023
3            Jan 2024
4            Feb 2024
5            Mar 2024
6            Apr 2024
7            May 2024
8            Jun 2024
9            Jul 2024
10           Aug 2024
11           Sep 2024

   Portfolio Valuation (In `) पोट�फो�लयो मू�यांकन ( ₹  में)  \
0                                         2,12,072.15
1                                         2,25,301.29
2                                         2,39,973.47
3                                         2,49,680.44
4                                         2,50,720.18
5                                         2,53,075.55
6                                         2,69,976.24
7                                         2,76,072.39
8                                         2,90,401.59
9                                         3,01,522.90
10                                        3,03,593.34
11                                        3,09,384.23

   Changes in ` प�रवत�न  ₹  में Changes in % प�रवत�न % म�
0
1                     13,229.14                      6.24
2                     14,672.18                      6.51
3                      9,706.97                      4.05
4                      1,039.74                      0.42
5                      2,355.37                      0.94
6                     16,900.69                      6.68
7                      6,096.15                      2.26
8                     14,329.20                      5.19
9                     11,121.31                      3.83
10                     2,070.44                      0.69
11                     5,790.89                      1.91
  Asset Class प�रसंपि�त का वग�   Value मू�य Percentage ��तशत
0                       Equity    25,827.25             8.35
1           Mutual Fund Folios  2,83,556.98            91.65
2                        Total  3,09,384.23           100.00
  Assets Class प�रसंपि�त का वग� Value in ` ₹  म� मू�य     % %
0            Mutual Fund Folios           2,83,556.98   91.65
1                        Equity             25,827.25    8.35
2                         Total           3,09,384.23  100.00
                                      ISIN ISIN  \
0                                  INE053F01010
1                                  INE338D01028
2                                  INE743M01012
3  Portfolio Value ` 25,827.25 as on 30-09-2024

                                    Security ��तभू�त Current Bal वत�मान शेष  \
0  INDIAN RAILWAY FINANCE CORPORATION LIMITED # E...                 80.000
1  BODAL CHEMICALS LIMITED- NEW EQUITY SHARES OF ...                 50.000
2          RHI MAGNESITA INDIA LIMITED#EQUITY SHARES                 15.000
3

  Frozen Bal �ोजेन शेष Pledge Bal �लेज शेष Pledge Setup Bal �लेज सेटअप शेष  \
0                   --                  --                              --
1                   --                  --                              --
2                   --                  --                              --
3

  Free Bal मु�त शेष Market Price / Face Value बाज़ार मू�य/ अं�कत मू�य  \
0            80.000                                          158.750
1            50.000                                           81.060
2            15.000                                          604.950
3

  Value (`) ₹  म� मू�य
0            12,700.00
1             4,053.00
2             9,074.25
3
               Summary of Investments �नवेश� का �ववरण  \
0                                 MALHAR SACHIN YADAV
1   MUTUAL FUND UNITS HELD WITH MF/RTA MF/RTA म� र...
2                           Canara Robeco Mutual Fund
3                            Folio No : 17735843936/0
4                                ISIN :  INF760K01JT0
5                            Nippon India Mutual Fund
6   GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...
7                           Folio No : 407111821295/0
8                                ISIN :  INF204K01KN0
9   EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...
10                          Folio No : 407111821295/0
11                               ISIN :  INF204K01489
12                                  PPFAS Mutual Fund
13  001RG - Parag Parikh Flexi Cap Fund - Regular ...
14                                Folio No : 12052239
15                               ISIN :  INF879O01019
16  LFG - Parag Parikh Liquid Fund Regular Plan Gr...
17                                Folio No : 12052239
18                               ISIN :  INF879O01035

   CDSL Demat Account Details CDSL DEMAT खाता �ववरण  \
0
1
2
3                         Mode of Holding :  Single
4                                             UCC :
5
6
7                         Mode of Holding :  Single
8                                 UCC :  MFRILC0188
9
10                        Mode of Holding :  Single
11                                UCC :  MFRILC0026
12
13
14                        Mode of Holding :  Single
15                                UCC :  MFPPFA0001
16
17                        Mode of Holding :  Single
18                                UCC :  MFPPFA0007

   NSDL Demat Account Details NSDL DEMAT खाता �ववरण  \
0
1
2
3                       KYC of Investor/s :  KYC OK
4                           Mobile No :  XXXXXX8246
5
6
7                       KYC of Investor/s :  KYC OK
8                           Mobile No :  XXXXXX8246
9
10                      KYC of Investor/s :  KYC OK
11                          Mobile No :  XXXXXX8246
12
13
14                      KYC of Investor/s :  KYC OK
15                          Mobile No :  XXXXXX8246
16
17                      KYC of Investor/s :  KYC OK
18                          Mobile No :  XXXXXX8246

   MF Details MF �ववरण Notes �ट�प�णयां About CDSL CDSL के  बारे म�
0
1
2
3                Nominee :  Registered
4     Email :  malharyadav14@gmail.com
5
6
7                Nominee :  Registered
8     Email :  MALHARYADAV14@GMAIL.COM
9
10               Nominee :  Registered
11    Email :  MALHARYADAV14@GMAIL.COM
12
13
14               Nominee :  Registered
15    Email :  malharyadav14@gmail.com
16
17               Nominee :  Registered
18    Email :  malharyadav14@gmail.com
                                         Scheme Name          ISIN  \
0
1  FEGP - Canara Robeco Focused Equity Fund - Reg...  INF760K01JT0
2  GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...  INF204K01KN0
3  EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...  INF204K01489
4  001RG - Parag Parikh Flexi Cap Fund - Regular ...  INF879O01019
5  LFG - Parag Parikh Liquid Fund Regular Plan IN...
6                                        Grand Total

          Folio No.   ARN Code Closing Bal           NAV (`)  \
0                                  (Units)
1   17735843­ 936/0  ARN-34033    2119.474             20.15
2  40711182­ 1295/0  ARN-34033      56.701           29.4271
3  40711182­ 1295/0  ARN-34033              642.901 306.2378
4          12052239  ARN-34033     515.174           81.7556
5          12052239  ARN-34033        .132       1379.4­ 304
6

  Cumulative Amount Invested Valuation (`)  \
0                   (in INR)
1                  25,125.31     42,707.40
2                     729.07      1,668.55
3                  33,439.36   1,96,880.59
4                  25,000.05     42,118.36
5                     155.22        182.08
6      84,449.01 2,83,556.98

  Average Total Expense Ratio (TER) (In % T erms)          \
0                                         Regular  Direct
1                                            1.95       0
2                                             .35       0
3                                            1.58       0
4                                            1.33       0
5                                             .26       0
6

  Gross Commission Paid to Distributors (in absolute terms - in
0                                               INR)
1                                             288.39
2                                               1.96
3                                              481.6
4                                             139.06
5                                                .09
6

In [17]:
import pandas as pd
from IPython.display import display
import re
import unicodedata
def clean_text(text):
    """Remove non-English characters and normalize text."""
    if text is None:
        return ""
    
    # Normalize Unicode characters
    text = unicodedata.normalize('NFKD', text)
    
    # Remove non-English characters (keep letters, numbers, spaces, and basic punctuation)
    text = re.sub(r'[^A-Za-z0-9\s.,!?;:\'\"()-]', '', text)
    
    # Replace multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

# Function to extract and display tables
def get_tables(json_data,i):
    raw_data = json_data["tables"][i]["data"]["table_cells"]

    # Determine the max number of columns
    max_columns = max(item["start_col_offset_idx"] + item["col_span"] for item in raw_data)

    # Create an empty table structure
    table = {}

    # Populate table based on extracted data
    for item in raw_data:
        row_idx = item["start_row_offset_idx"]
        col_idx = item["start_col_offset_idx"]
        col_span = item["col_span"]
        text = clean_text(item["text"])

        # Initialize row if not exists
        if row_idx not in table:
            table[row_idx] = [""] * max_columns  # Initialize empty columns

        # Assign text to correct position, spanning columns if needed
        for j in range(col_span):
            table[row_idx][col_idx + j] = text if j == 0 else ""  # Leave merged columns empty after first

    # Convert table dictionary to a structured list for DataFrame
    structured_data = [table[row] for row in sorted(table.keys())]

    # Extract column headers separately
    columns = structured_data.pop(0)

    # Create DataFrame
    df = pd.DataFrame(structured_data, columns=columns)

    # Display DataFrame using IPython display
    print(f"\n**Table {i+1}**")
    df.to_csv(f"table_{i+1}.csv", index=False)
    display(df)

# Loop through tables and display each one
with open("output.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)
for i in range(8):
    get_tables(json_data, i)

**Table 1**

,NameJoint Name (s),Portfolio Valuation (In ) ( ),,View Statement
0,MALHAR SACHIN YADAV,CDSL Demat Accounts NSDL Demat Accounts Mutual...,"25,827.25 N.A 2,83,556.98",Click Here
1,,Total Portfolio Value,"3,09,384.23",

**Table 2**

,Account Type,Account Details,No. of ISINs Schemes ISIN,Value in
0,CDSL Demat Account,ZERODHA BROKING LIMITED DP Id: 12081601 Client...,3,"25,827.25"
1,Mutual Fund Folios,5 Folios,5,"2,83,556.98"
2,,,Total,"3,09,384.23"
3,,,Grand Total,"3,09,384.23"

**Table 3**

   Month-Year - Portfolio Valuation (In ) ( ) Changes in Changes in
0      Oct 2023                   2,12,072.15
1      Nov 2023                   2,25,301.29  13,229.14       6.24
2      Dec 2023                   2,39,973.47  14,672.18       6.51
3      Jan 2024                   2,49,680.44   9,706.97       4.05
4      Feb 2024                   2,50,720.18   1,039.74       0.42
5      Mar 2024                   2,53,075.55   2,355.37       0.94
6      Apr 2024                   2,69,976.24  16,900.69       6.68
7      May 2024                   2,76,072.39   6,096.15       2.26
8      Jun 2024                   2,90,401.59  14,329.20       5.19
9      Jul 2024                   3,01,522.90  11,121.31       3.83
10     Aug 2024                   3,03,593.34   2,070.44       0.69
11     Sep 2024                   3,09,384.23   5,790.89       1.91

**Table 4**

          Asset Class        Value Percentage
0              Equity    25,827.25       8.35
1  Mutual Fund Folios  2,83,556.98      91.65
2               Total  3,09,384.23     100.00

**Table 5**

         Assets Class     Value in
0  Mutual Fund Folios  2,83,556.98   91.65
1              Equity    25,827.25    8.35
2               Total  3,09,384.23  100.00

**Table 6**

,ISIN ISIN,Security,Current Bal,Frozen Bal,Pledge Bal,Pledge Setup Bal,Free Bal,Market Price Face Value,Value ()
0,INE053F01010,INDIAN RAILWAY FINANCE CORPORATION LIMITED EQU...,80.000,--,--,--,80.000,158.750,"12,700.00"
1,INE338D01028,BODAL CHEMICALS LIMITED- NEW EQUITY SHARES OF ...,50.000,--,--,--,50.000,81.060,"4,053.00"
2,INE743M01012,RHI MAGNESITA INDIA LIMITEDEQUITY SHARES,15.000,--,--,--,15.000,604.950,"9,074.25"
3,"Portfolio Value 25,827.25 as on 30-09-2024",,,,,,,,

**Table 7**

,Summary of Investments,CDSL Demat Account Details CDSL DEMAT,NSDL Demat Account Details NSDL DEMAT,MF Details MF Notes,About CDSL CDSL,
0,MALHAR SACHIN YADAV,,,,,
1,MUTUAL FUND UNITS HELD WITH MFRTA MFRTA,,,,,
2,Canara Robeco Mutual Fund,,,,,
3,Folio No : 177358439360,Mode of Holding : Single,KYC of Investors : KYC OK,Nominee : Registered,,
4,ISIN : INF760K01JT0,UCC :,Mobile No : XXXXXX8246,Email : malharyadav14gmail.com,,
5,Nippon India Mutual Fund,,,,,
6,GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...,,,,,
7,Folio No : 4071118212950,Mode of Holding : Single,KYC of Investors : KYC OK,Nominee : Registered,,
8,ISIN : INF204K01KN0,UCC : MFRILC0188,Mobile No : XXXXXX8246,Email : MALHARYADAV14GMAIL.COM,,
9,EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...,,,,,
10,Folio No : 4071118212950,Mode of Holding : Single,KYC of Investors : KYC OK,Nominee : Registered,,
11,ISIN : INF204K01489,UCC : MFRILC0026,Mobile No : XXXXXX8246,Email : MALHARYADAV14GMAIL.COM,,
12,PPFAS Mutual Fund,,,,,
13,001RG - Parag Parikh Flexi Cap Fund - Regular ...,,,,,
14,Folio No : 12052239,Mode of Holding : Single,KYC of Investors : KYC OK,Nominee : Registered,,
15,ISIN : INF879O01019,UCC : MFPPFA0001,Mobile No : XXXXXX8246,Email : malharyadav14gmail.com,,
16,LFG - Parag Parikh Liquid Fund Regular Plan Gr...,,,,,
17,Folio No : 12052239,Mode of Holding : Single,KYC of Investors : KYC OK,Nominee : Registered,,
18,ISIN : INF879O01035,UCC : MFPPFA0007,Mobile No : XXXXXX8246,Email : malharyadav14gmail.com,,

**Table 8**

,Scheme Name,ISIN,Folio No.,ARN Code,Closing Bal,NAV (),Cumulative Amount Invested,Valuation (),Average Total Expense Ratio (TER) (In T erms),,Gross Commission Paid to Distributors (in absolute terms - in
0,,,,,(Units),,(in INR),,Regular,Direct,INR)
1,FEGP - Canara Robeco Focused Equity Fund - Reg...,INF760K01JT0,17735843 9360,ARN-34033,2119.474,20.15,"25,125.31","42,707.40",1.95,0,288.39
2,GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...,INF204K01KN0,40711182 12950,ARN-34033,56.701,29.4271,729.07,"1,668.55",.35,0,1.96
3,EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...,INF204K01489,40711182 12950,ARN-34033,,642.901 306.2378,"33,439.36","1,96,880.59",1.58,0,481.6
4,001RG - Parag Parikh Flexi Cap Fund - Regular ...,INF879O01019,12052239,ARN-34033,515.174,81.7556,"25,000.05","42,118.36",1.33,0,139.06
5,LFG - Parag Parikh Liquid Fund Regular Plan IN...,,12052239,ARN-34033,.132,1379.4 304,155.22,182.08,.26,0,.09
6,Grand Total,,,,,,"84,449.01 2,83,556.98",,,,

In [10]:
import json
import re
import unicodedata

def clean_text(text):
    """Remove non-English characters and normalize text."""
    if text is None:
        return ""
    
    # Normalize Unicode characters
    text = unicodedata.normalize('NFKD', text)
    
    # Remove non-English characters (keep letters, numbers, spaces, and basic punctuation)
    text = re.sub(r'[^A-Za-z0-9\s.,!?;:\'\"()-]', '', text)
    
    # Replace multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

with open("output.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)

with open("output.txt", mode="w", encoding="utf-8") as fp:
    for textual_data in json_data["texts"]:
        fp.write(f"{clean_text(textual_data['text'])}\n")
# for textual_data in json_data["texts"]:
#     print(textual_data["prov"][0]["page_no"], textual_data["text"])

In [25]:
import pandas as pd
df = pd.read_csv("table_2.csv")
df

,Account Type,Account Details,No. of ISINs Schemes ISIN,Value in
0,CDSL Demat Account,ZERODHA BROKING LIMITED DP Id: 12081601 Client...,3,"25,827.25"
1,Mutual Fund Folios,5 Folios,5,"2,83,556.98"
2,NaN,NaN,Total,"3,09,384.23"
3,NaN,NaN,Grand Total,"3,09,384.23"

In [31]:
account_type = df["Account Type"].tolist()
account_details = df["Account Details"].tolist()
account_data = dict(zip(account_type, account_details))
print(account_data)

{'CDSL Demat Account': 'ZERODHA BROKING LIMITED DP Id: 12081601 Client Id :10950391', 'Mutual Fund Folios': '5 Folios', nan: nan}

In [35]:
import pandas as pd
import numpy as np

# Creating the DataFrame (simulating your input)
data = {
    "Account Type": ["CDSL Demat Account", "Mutual Fund Folios", np.nan, np.nan],
    "Account Details": ["ZERODHA BROKING LIMITED DP Id: 12081601 Client...", "5 Folios", np.nan, np.nan],
    "No. of ISINs Schemes ISIN": [3, 5, "Total", "Grand Total"],
    "Value in": [25827.25, 283556.98, 309384.23, 309384.23]
}

df = pd.read_csv("table_2.csv")

# Dropping total rows if not needed
df = df.dropna(subset=["Account Type"])  

# Creating dictionary from DataFrame
result_dict = {}

for _, row in df.iterrows():
    account_type = row["Account Type"]
    result_dict[account_type] = {
        "Account Details": row["Account Details"],
        "No. of ISINs Schemes ISIN": row["No. of ISINs Schemes ISIN"],
        "Value in": row["Value in"]
    }

# Printing the final dictionary
import pprint
pprint.pprint(result_dict)

{'CDSL Demat Account': {'Account Details': 'ZERODHA BROKING LIMITED DP Id: '
                                           '12081601 Client Id :10950391',
                        'No. of ISINs Schemes ISIN': '3',
                        'Value in': '25,827.25'},
 'Mutual Fund Folios': {'Account Details': '5 Folios',
                        'No. of ISINs Schemes ISIN': '5',
                        'Value in': '2,83,556.98'}}

In [38]:
import pandas as pd
df = pd.read_csv("table_4.csv")
df

def dataframe_to_dict(df):
    # Extract the first column name (it will be dictionary keys)
    dict_key_column = df.columns[0]

    # Drop rows where the first column is NaN (optional, if needed)
    df = df.dropna(subset=[dict_key_column])

    # Convert the DataFrame into a nested dictionary
    result_dict = {}
    for _, row in df.iterrows():
        key = row[dict_key_column]  # First column as the key
        result_dict[key] = row.drop(dict_key_column).to_dict()  # Remaining columns as key-value pairs
    
    return result_dict

# # Example DataFrame
# data = {
#     "Account Type": ["CDSL Demat Account", "Mutual Fund Folios", "Grand Total"],
#     "Account Details": ["ZERODHA BROKING LIMITED DP Id: 12081601 Client...", "5 Folios", None],
#     "No. of ISINs Schemes ISIN": [3, 5, None],
#     "Value in": [25827.25, 283556.98, 309384.23]
# }

# df = pd.DataFrame(data)

# Convert to nested dictionary dynamically
nested_dict = dataframe_to_dict(df)

# Print the output
import pprint
pprint.pprint(nested_dict)

{'Equity': {'Percentage': 8.35, 'Value': '25,827.25'},
 'Mutual Fund Folios': {'Percentage': 91.65, 'Value': '2,83,556.98'},
 'Total': {'Percentage': 100.0, 'Value': '3,09,384.23'}}

In [ ]:
import pandas as pd
from IPython.display import display
import re
import unicodedata
import json
predefined_data = {
    "accounts" : None,
    "portfolio" : {"month_wise" : None},
    "asset_allocation" : None,
}

def dataframe_to_dict(df):
    # Extract the first column name (it will be dictionary keys)
    dict_key_column = df.columns[0]

    # Drop rows where the first column is NaN (optional, if needed)
    df = df.dropna(subset=[dict_key_column])

    # Convert the DataFrame into a nested dictionary
    result_dict = {}
    for _, row in df.iterrows():
        key = row[dict_key_column]  # First column as the key
        result_dict[key] = row.drop(dict_key_column).to_dict()  # Remaining columns as key-value pairs
    
    return result_dict

def clean_strings(strings):
    return [re.sub(r"[^a-zA-Z]", "", s) for s in strings]

def clean_text(text):
    """Remove non-English characters and normalize text."""
    if text is None:
        return ""
    
    # Normalize Unicode characters
    text = unicodedata.normalize('NFKD', text)
    
    # Remove non-English characters (keep letters, numbers, spaces, and basic punctuation)
    text = re.sub(r'[^A-Za-z0-9\s.,!?;:\'\"()-]', '', text)
    
    # Replace multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text
table_dict = dict()
# Function to extract and display tables
def get_tables(json_data,i):
    raw_data = json_data["tables"][i]["data"]["table_cells"]

    # Determine the max number of columns
    max_columns = max(item["start_col_offset_idx"] + item["col_span"] for item in raw_data)

    # Create an empty table structure
    table = {}

    # Populate table based on extracted data
    for item in raw_data:
        row_idx = item["start_row_offset_idx"]
        col_idx = item["start_col_offset_idx"]
        col_span = item["col_span"]
        text = item["text"]

        # Initialize row if not exists
        if row_idx not in table:
            table[row_idx] = [""] * max_columns  # Initialize empty columns

        # Assign text to correct position, spanning columns if needed
        for j in range(col_span):
            table[row_idx][col_idx + j] = text if j == 0 else ""  # Leave merged columns empty after first

    # Convert table dictionary to a structured list for DataFrame
    structured_data = [table[row] for row in sorted(table.keys())]

    # Extract column headers separately
    columns = structured_data.pop(0)
    columns = clean_strings(columns)
    # Create DataFrame
    df = pd.DataFrame(structured_data, columns=columns)

    # Display DataFrame using IPython display
    print(f"\n**Table {i+1}**")

    if i == 2:
        predefined_data["accounts"] = dataframe_to_dict(df)
    if i == 3:
        predefined_data["portfolio"]["month_wise"] = dataframe_to_dict(df)
    if i == 4:
        predefined_data["asset_allocation"] = dataframe_to_dict(df)


    df.to_csv(f"table_{i+1}.csv", index=False)
    table_dict[f"table_{i+1}"] = df
    display(df)

# Loop through tables and display each one
with open("output.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)
for i in range(10):
    get_tables(json_data, i)
with open("data1.json", "w") as json_file:
        json.dump(predefined_data, json_file, indent=4)  # indent=4 makes it readable

**Table 1**

,NameJointNames,PortfolioValuationIn,,ViewStatement
0,Shriraj Devidas Bhore,CDSL Demat Accounts NSDL Demat Accounts* Mutua...,"68,506.45 N.A 33,016.35",Click Here
1,,Total Portfolio Value,"1,01,522.80",

**Table 2**

,AccountType,AccountDetails,NoofISINsSchemesISIN,Valuein
0,CDSL Demat Account,ANGEL ONE LIMITED DP Id: 12033200 Client Id ...,16,"68,506.45"
1,Mutual Fund Folios,3 Folios,3,"33,016.35"
2,,,Total,"1,01,522.8"
3,,,Grand Total,"1,01,522.80"

**Table 3**

   MonthYear PortfolioValuation            Changesin
0   Apr 2023          34,128.80
1   May 2023          36,288.49   2,159.69      6.33
2   Jun 2023          38,283.06   1,994.57      5.50
3   Jul 2023          38,009.16    -273.90     -0.72
4   Aug 2023          38,903.91     894.75      2.35
5   Sep 2023          72,886.82  33,982.91     87.35
6   Oct 2023          73,516.96     630.14      0.86
7   Nov 2023          81,097.77   7,580.81     10.31
8   Dec 2023          92,177.30  11,079.53     13.66
9   Jan 2024          95,730.29   3,552.99      3.85
10  Feb 2024        1,00,184.33   4,454.04      4.65
11  Mar 2024        1,01,522.80   1,338.47      1.34

**Table 4**

                        AssetClass       Value Percentage
0                           Equity   61,696.06      60.77
1            Government Securities    6,450.00       6.35
2               Mutual Fund Folios   33,016.35      32.52
3  Mutual Funds Held in Demat Form      360.39       0.35
4                            Total  1,01,522.8      99.99

**Table 5**

                       AssetsClass      Valuein
0                           Equity    61,696.06  60.77
1               Mutual Fund Folios    33,016.35  32.52
2            Government Securities     6,450.00   6.35
3  Mutual Funds Held in Demat Form       360.39   0.35
4                            Total  1,01,522.80  99.99

**Table 6**

,ISINISIN,Security,CurrentBal,FrozenBal,PledgeBal,PledgeSetupBal,FreeBal,MarketPriceFaceValue,Value
0,INE084A01016,BANK OF INDIA EQUITY SHARES,1.000,--,--,--,1.000,137.000,137.00
1,INE457A01014,BANK OF MAHARASHTRA - EQUITY SHARES,3.000,--,--,--,3.000,62.290,186.87
2,INE016A01026,DABUR INDIA LIMITED - EQUITY SHARES (FV RE.1/-),1.000,--,--,--,1.000,523.150,523.15

**Table 7**

,ISINISIN,Security,CurrentBal,FrozenBal,PledgeBal,PledgeSetupBal,FreeBal,MarketPriceFaceValue,Value
0,INE512B01022,FCS SOFTWARE SOLUTIONS LIMITED - NEW EQUITY SH...,44.000,--,--,--,44.000,3.660,161.04
1,IN0020210236,GOVT OF INDIA#2.5% SGB 2021-22 SERIES IX 2030-...,1.000,--,--,--,1.000,6450.000,"6,450.00"
2,INE242A01010,INDIAN OIL CORPORATION LIMITED EQUITY SHARES,31.000,--,--,--,31.000,167.750,"5,200.25"
3,INE053F01010,INDIAN RAILWAY FINANCE CORPORATION LIMITED # E...,4.000,--,--,--,4.000,142.400,569.60
4,INE154A01025,ITC LIMITED - EQUITY SHARES OF RE.1/- AFTER SPLIT,8.000,--,--,--,8.000,428.550,"3,428.40"
5,INF204KB17I5,NIPPON LIFE INDIA AM LTD#NIPPON INDIA MF-NIPPO...,2.000,--,--,--,2.000,56.630,113.26
6,INF204KB14I2,NIPPON LIFE INDIA AM LTD#NIPPON INDIA MF-NIPPO...,1.000,--,--,--,1.000,247.130,247.13
7,INE733E01010,NTPC LIMITED-EQUITY SHARES,145.000,--,--,--,145.000,335.950,"48,712.75"
8,INE750A01020,ORIENTAL HOTELS LIMITED- NEW EQUITY SHARES OF ...,1.000,--,--,--,1.000,115.850,115.85
9,INE415G01027,RAIL VIKAS NIGAM LIMITED # EQUITY SHARES,3.000,--,--,--,3.000,252.950,758.85
10,INE330H01018,RELIANCE COMMUNICATIONS LIMITED - EQUITY SHARES,5.000,--,--,--,5.000,1.820,9.10
11,INE064C01022,TRIDENT LIMITED#NEW EQUITY SHARES WITH FACE VA...,50.000,--,--,--,50.000,36.540,"1,827.00"
12,INE669E01016,VODAFONE IDEA LTD # EQUITY SHARES,5.000,--,--,--,5.000,13.240,66.20
13,"Portfolio Value ` 68,506.45 as on 31-03-2024",,,,,,,,

**Table 8**

,Date,TransactionDescription,Amount,NAVNAV,Price,Units,StampDuty,IncomeDistribution,CapitalWithdrawal
0,,Opening Balance,,,,335.588,,,
1,,11-03-2024 Normal - Instalment 27/936 PURCHASE...,499.98,40.2424,40.2424,12.424,.02,0,0
2,,Closing Balance,,,,348.012,,,

**Table 9**

,SchemeName,ISIN,FolioNo,ARNCode,ClosingBalUnits,NAV,CumulativeAmountInvestedinINR,Valuation,AverageTotalExpenseRatioTERInTerms,,GrossCommissionPaidtoDistributorsinabsolute
0,,,,,,,,,Regular,Direct,terms - in INR)
1,D055A - SBI Nifty Index Fund - Direct Plan - ...,INF200K01TE8 28455236/0,,ARN- DIRECT,,74.932 203.7423,"12,500.00","15,266.82",0,.18,0
2,D079B - SBI Savings Fund - Direct Plan - Growth,INF200K01SZ5 28455236/0,,ARN- DIRECT,348.012,40.4415,"13,000.00","14,074.13",0,.24,0
3,SRGP - SUNDARAM SERVICES FUND REGULAR GROWTH,INF903JA1EX7,61049050­ 55/0,ARN-187821,131.275,27.9977,"2,900.00","3,675.40",1.94,0,22.29
4,Grand Total,,,,,,"28,400.00","33,016.35",,,

IndexError: list index out of range

In [47]:
df1 = pd.read_csv("table_6.csv")
df2 = pd.read_csv("table_7.csv")
# Check if both have the same columns (order doesn't matter)
if set(df1.columns) == set(df2.columns):
    print("Columns are the same!")
else:
    print("Columns are different!")

Columns are the same!

In [46]:
import pandas as pd



# Group tables by their column sets
column_groups = {}

for table_name, df in table_dict.items():
    col_tuple = tuple(df.columns)  # Use tuple to preserve order
    
    # Add table to the correct group
    column_groups.setdefault(col_tuple, []).append(table_name)

sametables = []
# Print groups of tables with the same columns
for columns, table_names in column_groups.items():
    if len(table_names) > 1:
        sametables.append(table_names)
print(sametables)

[['table_6', 'table_7']]

In [49]:
merged_df = pd.concat([df1, df2], ignore_index=True)

# Printing the result
merged_df

,ISIN ISIN,Security,Current Bal,Frozen Bal,Pledge Bal,Pledge Setup Bal,Free Bal,Market Price Face Value,Value ()
0,INE084A01016,BANK OF INDIA EQUITY SHARES,1.0,--,--,--,1.0,137.00,137.0
1,INE457A01014,BANK OF MAHARASHTRA - EQUITY SHARES,3.0,--,--,--,3.0,62.29,186.87
2,INE016A01026,DABUR INDIA LIMITED - EQUITY SHARES (FV RE.1-),1.0,--,--,--,1.0,523.15,523.15
3,INE512B01022,FCS SOFTWARE SOLUTIONS LIMITED - NEW EQUITY SH...,44.0,--,--,--,44.0,3.66,161.04
4,IN0020210236,GOVT OF INDIA2.5 SGB 2021-22 SERIES IX 2030-LO...,1.0,--,--,--,1.0,6450.00,"6,450.00"
5,INE242A01010,INDIAN OIL CORPORATION LIMITED EQUITY SHARES,31.0,--,--,--,31.0,167.75,"5,200.25"
6,INE053F01010,INDIAN RAILWAY FINANCE CORPORATION LIMITED EQU...,4.0,--,--,--,4.0,142.40,569.60
7,INE154A01025,ITC LIMITED - EQUITY SHARES OF RE.1- AFTER SPLIT,8.0,--,--,--,8.0,428.55,"3,428.40"
8,INF204KB17I5,NIPPON LIFE INDIA AM LTDNIPPON INDIA MF-NIPPON...,2.0,--,--,--,2.0,56.63,113.26
9,INF204KB14I2,NIPPON LIFE INDIA AM LTDNIPPON INDIA MF-NIPPON...,1.0,--,--,--,1.0,247.13,247.13
10,INE733E01010,NTPC LIMITED-EQUITY SHARES,145.0,--,--,--,145.0,335.95,"48,712.75"
11,INE750A01020,ORIENTAL HOTELS LIMITED- NEW EQUITY SHARES OF ...,1.0,--,--,--,1.0,115.85,115.85
12,INE415G01027,RAIL VIKAS NIGAM LIMITED EQUITY SHARES,3.0,--,--,--,3.0,252.95,758.85
13,INE330H01018,RELIANCE COMMUNICATIONS LIMITED - EQUITY SHARES,5.0,--,--,--,5.0,1.82,9.10
14,INE064C01022,TRIDENT LIMITEDNEW EQUITY SHARES WITH FACE VAL...,50.0,--,--,--,50.0,36.54,"1,827.00"
15,INE669E01016,VODAFONE IDEA LTD EQUITY SHARES,5.0,--,--,--,5.0,13.24,66.20
16,"Portfolio Value 68,506.45 as on 31-03-2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df = pd.read_csv("table_3.csv")
df.to_dict(orient="records")

[{'MonthYear': 'Apr 2023',
  'PortfolioValuation': '34,128.80',
  'Unnamed: 2': nan,
  'Changesin': nan},
 {'MonthYear': 'May 2023',
  'PortfolioValuation': '36,288.49',
  'Unnamed: 2': '2,159.69',
  'Changesin': 6.33},
 {'MonthYear': 'Jun 2023',
  'PortfolioValuation': '38,283.06',
  'Unnamed: 2': '1,994.57',
  'Changesin': 5.5},
 {'MonthYear': 'Jul 2023',
  'PortfolioValuation': '38,009.16',
  'Unnamed: 2': '-273.90',
  'Changesin': -0.72},
 {'MonthYear': 'Aug 2023',
  'PortfolioValuation': '38,903.91',
  'Unnamed: 2': '894.75',
  'Changesin': 2.35},
 {'MonthYear': 'Sep 2023',
  'PortfolioValuation': '72,886.82',
  'Unnamed: 2': '33,982.91',
  'Changesin': 87.35},
 {'MonthYear': 'Oct 2023',
  'PortfolioValuation': '73,516.96',
  'Unnamed: 2': '630.14',
  'Changesin': 0.86},
 {'MonthYear': 'Nov 2023',
  'PortfolioValuation': '81,097.77',
  'Unnamed: 2': '7,580.81',
  'Changesin': 10.31},
 {'MonthYear': 'Dec 2023',
  'PortfolioValuation': '92,177.30',
  'Unnamed: 2': '11,079.53',
  'Changesin': 13.66},
 {'MonthYear': 'Jan 2024',
  'PortfolioValuation': '95,730.29',
  'Unnamed: 2': '3,552.99',
  'Changesin': 3.85},
 {'MonthYear': 'Feb 2024',
  'PortfolioValuation': '1,00,184.33',
  'Unnamed: 2': '4,454.04',
  'Changesin': 4.65},
 {'MonthYear': 'Mar 2024',
  'PortfolioValuation': '1,01,522.80',
  'Unnamed: 2': '1,338.47',
  'Changesin': 1.34}]

In [14]:
import pandas as pd
from IPython.display import display
import re
import unicodedata
import json
predefined_data = {
    "accounts" : None,
    "portfolio" : {"month_wise" : None},
    "asset_allocation" : None,
}

def dataframe_to_dict(df):
    # Extract the first column name (it will be dictionary keys)
    dict_key_column = df.columns[0]

    # Drop rows where the first column is NaN (optional, if needed)
    df = df.dropna(subset=[dict_key_column])

    # Convert the DataFrame into a nested dictionary
    result_dict = {}
    for _, row in df.iterrows():
        key = row[dict_key_column]  # First column as the key
        result_dict[key] = row.drop(dict_key_column).to_dict()  # Remaining columns as key-value pairs
    
    return result_dict

def clean_strings(strings):
    return [re.sub(r"[^a-zA-Z]", "", s) for s in strings]

def clean_text(text):
    """Remove non-English characters and normalize text."""
    if text is None:
        return ""
    
    # Normalize Unicode characters
    text = unicodedata.normalize('NFKD', text)
    
    # Remove non-English characters (keep letters, numbers, spaces, and basic punctuation)
    text = re.sub(r'[^A-Za-z0-9\s.,!?;:\'\"()-]', '', text)
    
    # Replace multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text
table_dict = dict()
def get_same_tables():
    # Group tables by their column sets
    column_groups = {}

    for table_name, df in table_dict.items():
        col_tuple = tuple(df.columns)  # Use tuple to preserve order
        
        # Add table to the correct group
        column_groups.setdefault(col_tuple, []).append(table_name)

    sametables = []
    # Print groups of tables with the same columns
    for columns, table_names in column_groups.items():
        if len(table_names) > 1:
            sametables.append(table_names)
    return sametables
# Function to extract and display tables
def get_tables(json_data,i):
    raw_data = json_data["tables"][i]["data"]["table_cells"]

    # Determine the max number of columns
    max_columns = max(item["start_col_offset_idx"] + item["col_span"] for item in raw_data)

    # Create an empty table structure
    table = {}

    # Populate table based on extracted data
    for item in raw_data:
        row_idx = item["start_row_offset_idx"]
        col_idx = item["start_col_offset_idx"]
        col_span = item["col_span"]
        text = item["text"]

        # Initialize row if not exists
        if row_idx not in table:
            table[row_idx] = [""] * max_columns  # Initialize empty columns

        # Assign text to correct position, spanning columns if needed
        for j in range(col_span):
            table[row_idx][col_idx + j] = text if j == 0 else ""  # Leave merged columns empty after first

    # Convert table dictionary to a structured list for DataFrame
    structured_data = [table[row] for row in sorted(table.keys())]

    # Extract column headers separately
    columns = structured_data.pop(0)
    columns = clean_strings(columns)
    # Create DataFrame
    df = pd.DataFrame(structured_data, columns=columns)

    # Display DataFrame using IPython display
    print(f"\n**Table {i+1}**")

    display(df)

    if i == 1:
        predefined_data["accounts"] = dataframe_to_dict(df)
        print(predefined_data)
    if i == 2:
        predefined_data["portfolio"]["month_wise"] = dataframe_to_dict(df)
        print(predefined_data)
    if i == 3:
        predefined_data["asset_allocation"] = dataframe_to_dict(df)
        print(predefined_data)
    if i > 4:
        table_dict[f"table_{i+1}"] = df
         
    
    df.to_csv(f"table_{i+1}.csv", index=False)


from docling.datamodel.pipeline_options import PdfPipelineOptions
from docling.document_converter import DocumentConverter, PdfFormatOption
from docling.datamodel.base_models import InputFormat
import json
source = r"C:\Users\malhar.yadav\scripts\PdfToDashboard\uploads\sb.pdf"  # document per local path or URL
pipeline_options = PdfPipelineOptions(
    do_ocr=False,  # Disable OCR if the document is digitally generated
    do_table_structure=True,
    table_detection_mode="lattice",
)

# Initialize the DocumentConverter with the specified pipeline options
converter = DocumentConverter(
    format_options={
        InputFormat.PDF: PdfFormatOption(pipeline_options=pipeline_options)
    }
)
# converter = DocumentConverter()
result = converter.convert(source)
# print(result.document.export_to_dict)  # output: "## Docling Technical Report[...]"
with open("newweddata.json",mode="w", encoding="utf-8") as fp:
        fp.write(json.dumps(result.document.export_to_dict()))

# Loop through tables and display each one
with open("newweddata.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)

for i in range(json_data["tables"].__len__()):
    get_tables(json_data, i)
with open("newweddata2131.json", "w") as json_file:
        json.dump(predefined_data, json_file, indent=4)  # indent=4 makes it readable
get_same_tables()

**Table 1**

,NameJointNames,PortfolioValuationIn,,ViewStatement
0,Shriraj Devidas Bhore,CDSL Demat Accounts NSDL Demat Accounts* Mutua...,"68,506.45 N.A 33,016.35",Click Here
1,,Total Portfolio Value,"1,01,522.80",

**Table 2**

,AccountType,AccountDetails,NoofISINsSchemesISIN,Valuein
0,CDSL Demat Account,ANGEL ONE LIMITED DP Id: 12033200 Client Id ...,16,"68,506.45"
1,Mutual Fund Folios,3 Folios,3,"33,016.35"
2,,,Total,"1,01,522.8"
3,,,Grand Total,"1,01,522.80"

{'accounts': {'CDSL Demat Account': {'AccountDetails': 'ANGEL ONE LIMITED DP Id: 12033200   Client Id :25422711', 'NoofISINsSchemesISIN': '16', 'Valuein': '68,506.45'}, 'Mutual Fund Folios': {'AccountDetails': '3 Folios', 'NoofISINsSchemesISIN': '3', 'Valuein': '33,016.35'}, '': {'AccountDetails': '', 'NoofISINsSchemesISIN': 'Grand Total', 'Valuein': '1,01,522.80'}}, 'portfolio': {'month_wise': None}, 'asset_allocation': None}

**Table 3**

   MonthYear PortfolioValuationIn  Changesin Changesin
0   Apr 2023            34,128.80
1   May 2023            36,288.49   2,159.69      6.33
2   Jun 2023            38,283.06   1,994.57      5.50
3   Jul 2023            38,009.16    -273.90     -0.72
4   Aug 2023            38,903.91     894.75      2.35
5   Sep 2023            72,886.82  33,982.91     87.35
6   Oct 2023            73,516.96     630.14      0.86
7   Nov 2023            81,097.77   7,580.81     10.31
8   Dec 2023            92,177.30  11,079.53     13.66
9   Jan 2024            95,730.29   3,552.99      3.85
10  Feb 2024          1,00,184.33   4,454.04      4.65
11  Mar 2024          1,01,522.80   1,338.47      1.34

{'accounts': {'CDSL Demat Account': {'AccountDetails': 'ANGEL ONE LIMITED DP Id: 12033200   Client Id :25422711', 'NoofISINsSchemesISIN': '16', 'Valuein': '68,506.45'}, 'Mutual Fund Folios': {'AccountDetails': '3 Folios', 'NoofISINsSchemesISIN': '3', 'Valuein': '33,016.35'}, '': {'AccountDetails': '', 'NoofISINsSchemesISIN': 'Grand Total', 'Valuein': '1,01,522.80'}}, 'portfolio': {'month_wise': {'Apr 2023': {'PortfolioValuationIn': '34,128.80', 'Changesin': ''}, 'May 2023': {'PortfolioValuationIn': '36,288.49', 'Changesin': '6.33'}, 'Jun 2023': {'PortfolioValuationIn': '38,283.06', 'Changesin': '5.50'}, 'Jul 2023': {'PortfolioValuationIn': '38,009.16', 'Changesin': '-0.72'}, 'Aug 2023': {'PortfolioValuationIn': '38,903.91', 'Changesin': '2.35'}, 'Sep 2023': {'PortfolioValuationIn': '72,886.82', 'Changesin': '87.35'}, 'Oct 2023': {'PortfolioValuationIn': '73,516.96', 'Changesin': '0.86'}, 'Nov 2023': {'PortfolioValuationIn': '81,097.77', 'Changesin': '10.31'}, 'Dec 2023': {'PortfolioValuationIn': '92,177.30', 'Changesin': '13.66'}, 'Jan 2024': {'PortfolioValuationIn': '95,730.29', 'Changesin': '3.85'}, 'Feb 2024': {'PortfolioValuationIn': '1,00,184.33', 'Changesin': '4.65'}, 'Mar 2024': {'PortfolioValuationIn': '1,01,522.80', 'Changesin': '1.34'}}}, 'asset_allocation': None}

**Table 4**

                        AssetClass       Value Percentage
0                           Equity   61,696.06      60.77
1            Government Securities    6,450.00       6.35
2               Mutual Fund Folios   33,016.35      32.52
3  Mutual Funds Held in Demat Form      360.39       0.35
4                            Total  1,01,522.8      99.99

{'accounts': {'CDSL Demat Account': {'AccountDetails': 'ANGEL ONE LIMITED DP Id: 12033200   Client Id :25422711', 'NoofISINsSchemesISIN': '16', 'Valuein': '68,506.45'}, 'Mutual Fund Folios': {'AccountDetails': '3 Folios', 'NoofISINsSchemesISIN': '3', 'Valuein': '33,016.35'}, '': {'AccountDetails': '', 'NoofISINsSchemesISIN': 'Grand Total', 'Valuein': '1,01,522.80'}}, 'portfolio': {'month_wise': {'Apr 2023': {'PortfolioValuationIn': '34,128.80', 'Changesin': ''}, 'May 2023': {'PortfolioValuationIn': '36,288.49', 'Changesin': '6.33'}, 'Jun 2023': {'PortfolioValuationIn': '38,283.06', 'Changesin': '5.50'}, 'Jul 2023': {'PortfolioValuationIn': '38,009.16', 'Changesin': '-0.72'}, 'Aug 2023': {'PortfolioValuationIn': '38,903.91', 'Changesin': '2.35'}, 'Sep 2023': {'PortfolioValuationIn': '72,886.82', 'Changesin': '87.35'}, 'Oct 2023': {'PortfolioValuationIn': '73,516.96', 'Changesin': '0.86'}, 'Nov 2023': {'PortfolioValuationIn': '81,097.77', 'Changesin': '10.31'}, 'Dec 2023': {'PortfolioValuationIn': '92,177.30', 'Changesin': '13.66'}, 'Jan 2024': {'PortfolioValuationIn': '95,730.29', 'Changesin': '3.85'}, 'Feb 2024': {'PortfolioValuationIn': '1,00,184.33', 'Changesin': '4.65'}, 'Mar 2024': {'PortfolioValuationIn': '1,01,522.80', 'Changesin': '1.34'}}}, 'asset_allocation': {'Equity': {'Value': '61,696.06', 'Percentage': '60.77'}, 'Government Securities': {'Value': '6,450.00', 'Percentage': '6.35'}, 'Mutual Fund Folios': {'Value': '33,016.35', 'Percentage': '32.52'}, 'Mutual Funds Held in Demat Form': {'Value': '360.39', 'Percentage': '0.35'}, 'Total': {'Value': '1,01,522.8', 'Percentage': '99.99'}}}

**Table 5**

                       AssetsClass      Valuein
0                           Equity    61,696.06  60.77
1               Mutual Fund Folios    33,016.35  32.52
2            Government Securities     6,450.00   6.35
3  Mutual Funds Held in Demat Form       360.39   0.35
4                            Total  1,01,522.80  99.99

**Table 6**

,ISINISIN,Security,CurrentBal,FrozenBal,PledgeBal,PledgeSetupBal,FreeBal,MarketPriceFaceValue,Value
0,INE084A01016,BANK OF INDIA EQUITY SHARES,1.000,--,--,--,1.000,137.000,137.00
1,INE457A01014,BANK OF MAHARASHTRA - EQUITY SHARES,3.000,--,--,--,3.000,62.290,186.87
2,INE016A01026,DABUR INDIA LIMITED - EQUITY SHARES (FV RE.1/-),1.000,--,--,--,1.000,523.150,523.15

**Table 7**

,ISINISIN,Security,CurrentBal,FrozenBal,PledgeBal,PledgeSetupBal,FreeBal,MarketPriceFaceValue,Value
0,INE512B01022,FCS SOFTWARE SOLUTIONS LIMITED - NEW EQUITY SH...,44.000,--,--,--,44.000,3.660,161.04
1,IN0020210236,GOVT OF INDIA#2.5% SGB 2021-22 SERIES IX 2030-...,1.000,--,--,--,1.000,6450.000,"6,450.00"
2,INE242A01010,INDIAN OIL CORPORATION LIMITED EQUITY SHARES,31.000,--,--,--,31.000,167.750,"5,200.25"
3,INE053F01010,INDIAN RAILWAY FINANCE CORPORATION LIMITED # E...,4.000,--,--,--,4.000,142.400,569.60
4,INE154A01025,ITC LIMITED - EQUITY SHARES OF RE.1/- AFTER SPLIT,8.000,--,--,--,8.000,428.550,"3,428.40"
5,INF204KB17I5,NIPPON LIFE INDIA AM LTD#NIPPON INDIA MF-NIPPO...,2.000,--,--,--,2.000,56.630,113.26
6,INF204KB14I2,NIPPON LIFE INDIA AM LTD#NIPPON INDIA MF-NIPPO...,1.000,--,--,--,1.000,247.130,247.13
7,INE733E01010,NTPC LIMITED-EQUITY SHARES,145.000,--,--,--,145.000,335.950,"48,712.75"
8,INE750A01020,ORIENTAL HOTELS LIMITED- NEW EQUITY SHARES OF ...,1.000,--,--,--,1.000,115.850,115.85
9,INE415G01027,RAIL VIKAS NIGAM LIMITED # EQUITY SHARES,3.000,--,--,--,3.000,252.950,758.85
10,INE330H01018,RELIANCE COMMUNICATIONS LIMITED - EQUITY SHARES,5.000,--,--,--,5.000,1.820,9.10
11,INE064C01022,TRIDENT LIMITED#NEW EQUITY SHARES WITH FACE VA...,50.000,--,--,--,50.000,36.540,"1,827.00"
12,INE669E01016,VODAFONE IDEA LTD # EQUITY SHARES,5.000,--,--,--,5.000,13.240,66.20
13,"Portfolio Value ` 68,506.45 as on 31-03-2024",,,,,,,,

**Table 8**

,Date,TransactionDescription,Amount,NAVNAV,Price,Units,StampDuty,IncomeDistribution,CapitalWithdrawal
0,,Opening Balance,,,,335.588,,,
1,,11-03-2024 Normal - Instalment 27/936 PURCHASE...,499.98,40.2424,40.2424,12.424,.02,0,0
2,,Closing Balance,,,,348.012,,,

**Table 9**

,SchemeName,ISIN,FolioNo,ARNCode,ClosingBalUnits,NAV,CumulativeAmountInvestedinINR,Valuation,AverageTotalExpenseRatioTERInTerms,,GrossCommissionPaidtoDistributorsinabsolute
0,,,,,,,,,Regular,Direct,terms - in INR)
1,D055A - SBI Nifty Index Fund - Direct Plan - ...,INF200K01TE8 28455236/0,,ARN- DIRECT,,74.932 203.7423,"12,500.00","15,266.82",0,.18,0
2,D079B - SBI Savings Fund - Direct Plan - Growth,INF200K01SZ5 28455236/0,,ARN- DIRECT,348.012,40.4415,"13,000.00","14,074.13",0,.24,0
3,SRGP - SUNDARAM SERVICES FUND REGULAR GROWTH,INF903JA1EX7,61049050­ 55/0,ARN-187821,131.275,27.9977,"2,900.00","3,675.40",1.94,0,22.29
4,Grand Total,,,,,,"28,400.00","33,016.35",,,

[['table_6', 'table_7']]

In [16]:
import pandas as pd
pd.concat([table_dict["table_6"], table_dict["table_7"]], ignore_index=True)

,ISINISIN,Security,CurrentBal,FrozenBal,PledgeBal,PledgeSetupBal,FreeBal,MarketPriceFaceValue,Value
0,INE084A01016,BANK OF INDIA EQUITY SHARES,1.000,--,--,--,1.000,137.000,137.00
1,INE457A01014,BANK OF MAHARASHTRA - EQUITY SHARES,3.000,--,--,--,3.000,62.290,186.87
2,INE016A01026,DABUR INDIA LIMITED - EQUITY SHARES (FV RE.1/-),1.000,--,--,--,1.000,523.150,523.15
3,INE512B01022,FCS SOFTWARE SOLUTIONS LIMITED - NEW EQUITY SH...,44.000,--,--,--,44.000,3.660,161.04
4,IN0020210236,GOVT OF INDIA#2.5% SGB 2021-22 SERIES IX 2030-...,1.000,--,--,--,1.000,6450.000,"6,450.00"
5,INE242A01010,INDIAN OIL CORPORATION LIMITED EQUITY SHARES,31.000,--,--,--,31.000,167.750,"5,200.25"
6,INE053F01010,INDIAN RAILWAY FINANCE CORPORATION LIMITED # E...,4.000,--,--,--,4.000,142.400,569.60
7,INE154A01025,ITC LIMITED - EQUITY SHARES OF RE.1/- AFTER SPLIT,8.000,--,--,--,8.000,428.550,"3,428.40"
8,INF204KB17I5,NIPPON LIFE INDIA AM LTD#NIPPON INDIA MF-NIPPO...,2.000,--,--,--,2.000,56.630,113.26
9,INF204KB14I2,NIPPON LIFE INDIA AM LTD#NIPPON INDIA MF-NIPPO...,1.000,--,--,--,1.000,247.130,247.13
10,INE733E01010,NTPC LIMITED-EQUITY SHARES,145.000,--,--,--,145.000,335.950,"48,712.75"
11,INE750A01020,ORIENTAL HOTELS LIMITED- NEW EQUITY SHARES OF ...,1.000,--,--,--,1.000,115.850,115.85
12,INE415G01027,RAIL VIKAS NIGAM LIMITED # EQUITY SHARES,3.000,--,--,--,3.000,252.950,758.85
13,INE330H01018,RELIANCE COMMUNICATIONS LIMITED - EQUITY SHARES,5.000,--,--,--,5.000,1.820,9.10
14,INE064C01022,TRIDENT LIMITED#NEW EQUITY SHARES WITH FACE VA...,50.000,--,--,--,50.000,36.540,"1,827.00"
15,INE669E01016,VODAFONE IDEA LTD # EQUITY SHARES,5.000,--,--,--,5.000,13.240,66.20
16,"Portfolio Value ` 68,506.45 as on 31-03-2024",,,,,,,,

In [ ]:
with open("output.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)

9

In [1]:
import fitz  # pymupdf
import os

def split_pdf(input_pdf, output_folder):
    doc = fitz.open(input_pdf)
    os.makedirs(output_folder, exist_ok=True)
    
    for i, page in enumerate(doc, start=1):
        new_pdf = fitz.open()
        new_pdf.insert_pdf(doc, from_page=i-1, to_page=i-1)
        output_path = f"{output_folder}/page_{i}.pdf"
        new_pdf.save(output_path)
        print(f"Saved: {output_path}")

# Example usage
split_pdf(r"C:\Users\malhar.yadav\scripts\PdfToDashboard\uploads\SEP2024_AA12920184_HLD.PDF",
           r"C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables")

Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_1.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_2.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_3.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_4.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_5.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_6.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_7.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_8.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_9.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_10.pdf
Saved: C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables/page_11.pdf

In [11]:
from docling.datamodel.pipeline_options import PdfPipelineOptions
from docling.document_converter import DocumentConverter, PdfFormatOption
from docling.datamodel.base_models import InputFormat
import json

# Define the path to your PDF document
source = r"C:\Users\malhar.yadav\scripts\PdfToDashboard\data\extracted_tables\page_8.pdf"

# Set pipeline options to optimize performance
pipeline_options = PdfPipelineOptions(
    do_ocr=False,  # Disable OCR if the document is digitally generated
)

# Initialize the DocumentConverter with the specified pipeline options
converter = DocumentConverter(
    format_options={
        InputFormat.PDF: PdfFormatOption(pipeline_options=pipeline_options)
    }
)

# Convert the document
result = converter.convert(source)

# Export the result to a dictionary
document_dict = result.document.export_to_dict()

# Save the extracted data to a JSON file
output_json_path = "page8newdata.json"
with open(output_json_path, mode="w", encoding="utf-8") as fp:
    json.dump(document_dict, fp, ensure_ascii=False, indent=4)

print(f"Extraction complete. Data saved to {output_json_path}")

with open("page8newdata.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)

for i in range(json_data["tables"].__len__()):
    get_tables(json_data, i)

Extraction complete. Data saved to page8newdata.json

**Table 1**

,SchemeName,ISIN,FolioNo,ARNCode,ClosingBal,NAV,CumulativeAmountInvested,Valuation,AverageTotalExpenseRatioTERInTerms,,GrossCommissionPaidtoDistributorsinabsolutetermsin
0,,,,,(Units),,(in INR),,Regular,Direct,INR)
1,FEGP - Canara Robeco Focused Equity Fund - Reg...,INF760K01JT0,17735843­ 936/0,ARN-34033,2119.474,20.15,"25,125.31","42,707.40",1.95,0,288.39
2,GDGP - NIPPON INDIA GOLD SAVINGS FUND - GROWTH...,INF204K01KN0,40711182­ 1295/0,ARN-34033,56.701,29.4271,729.07,"1,668.55",.35,0,1.96
3,EOGP - NIPPON INDIA MULTI CAP FUND - GROWTH PL...,INF204K01489,40711182­ 1295/0,ARN-34033,,642.901 306.2378,"33,439.36","1,96,880.59",1.58,0,481.6
4,001RG - Parag Parikh Flexi Cap Fund - Regular ...,INF879O01019,12052239,ARN-34033,515.174,81.7556,"25,000.05","42,118.36",1.33,0,139.06
5,LFG - Parag Parikh Liquid Fund Regular Plan IN...,,12052239,ARN-34033,.132,1379.4­ 304,155.22,182.08,.26,0,.09
6,Grand Total,,,,,,"84,449.01 2,83,556.98",,,,

In [12]:
json_data

{'schema_name': 'DoclingDocument',
 'version': '1.2.0',
 'name': 'page_8',
 'origin': {'mimetype': 'application/pdf',
  'binary_hash': 15139620995320974025,
  'filename': 'page_8.pdf'},
 'furniture': {'self_ref': '#/furniture',
  'children': [],
  'content_layer': 'furniture',
  'name': '_root_',
  'label': 'unspecified'},
 'body': {'self_ref': '#/body',
  'children': [{'$ref': '#/pictures/0'},
   {'$ref': '#/texts/0'},
   {'$ref': '#/texts/1'},
   {'$ref': '#/texts/2'},
   {'$ref': '#/texts/3'},
   {'$ref': '#/texts/4'},
   {'$ref': '#/texts/5'},
   {'$ref': '#/texts/6'},
   {'$ref': '#/texts/7'},
   {'$ref': '#/texts/8'},
   {'$ref': '#/texts/9'},
   {'$ref': '#/tables/0'},
   {'$ref': '#/groups/0'},
   {'$ref': '#/texts/15'},
   {'$ref': '#/texts/16'},
   {'$ref': '#/groups/1'},
   {'$ref': '#/texts/21'}],
  'content_layer': 'body',
  'name': '_root_',
  'label': 'unspecified'},
 'groups': [{'self_ref': '#/groups/0',
   'parent': {'$ref': '#/body'},
   'children': [{'$ref': '#/texts/10'},
    {'$ref': '#/texts/11'},
    {'$ref': '#/texts/12'},
    {'$ref': '#/texts/13'},
    {'$ref': '#/texts/14'}],
   'content_layer': 'body',
   'name': 'list',
   'label': 'list'},
  {'self_ref': '#/groups/1',
   'parent': {'$ref': '#/body'},
   'children': [{'$ref': '#/texts/17'},
    {'$ref': '#/texts/18'},
    {'$ref': '#/texts/19'},
    {'$ref': '#/texts/20'}],
   'content_layer': 'body',
   'name': 'list',
   'label': 'list'}],
 'texts': [{'self_ref': '#/texts/0',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'section_header',
   'prov': [{'page_no': 1,
     'bbox': {'l': 208.752,
      't': 816.4390000000001,
      'r': 395.669,
      'b': 806.425,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 83]}],
   'orig': 'Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड',
   'text': 'Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड',
   'level': 1},
  {'self_ref': '#/texts/1',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 208.752,
      't': 785.106,
      'r': 554.065,
      'b': 763.258,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 287]}],
   'orig': 'A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)',
   'text': 'A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)'},
  {'self_ref': '#/texts/2',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'section_header',
   'prov': [{'page_no': 1,
     'bbox': {'l': 76.815,
      't': 744.9390000000001,
      'r': 512.484,
      'b': 720.0819999999999,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 208]}],
   'orig': 'CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)',
   'text': 'CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)',
   'level': 1},
  {'self_ref': '#/texts/3',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 43.951,
      't': 704.5640000000001,
      'r': 144.824,
      'b': 695.913,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 38]}],
   'orig': 'Summary of Investments �नवेश� का �ववरण',
   'text': 'Summary of Investments �नवेश� का �ववरण'},
  {'self_ref': '#/texts/4',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 177.185,
      't': 709.059,
      'r': 265.289,
      'b': 691.4180000000001,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 48]}],
   'orig': 'CDSL Demat Account Details CDSL DEMAT खाता �ववरण',
   'text': 'CDSL Demat Account Details CDSL DEMAT खाता �ववरण'},
  {'self_ref': '#/texts/5',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 288.109,
      't': 709.059,
      'r': 353.129,
      'b': 691.4180000000001,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 48]}],
   'orig': 'NSDL Demat Account Details NSDL DEMAT खाता �ववरण',
   'text': 'NSDL Demat Account Details NSDL DEMAT खाता �ववरण'},
  {'self_ref': '#/texts/6',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 382.267,
      't': 704.5640000000001,
      'r': 426.771,
      'b': 695.913,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 19]}],
   'orig': 'MF Details MF �ववरण',
   'text': 'MF Details MF �ववरण'},
  {'self_ref': '#/texts/7',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 452.814,
      't': 704.5640000000001,
      'r': 490.063,
      'b': 695.913,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 15]}],
   'orig': 'Notes �ट�प�णयां',
   'text': 'Notes �ट�प�णयां'},
  {'self_ref': '#/texts/8',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 507.6820000000001,
      't': 704.5640000000001,
      'r': 573.735,
      'b': 695.8469999999999,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 27]}],
   'orig': 'About CDSL CDSL के  बारे म�',
   'text': 'About CDSL CDSL के  बारे म�'},
  {'self_ref': '#/texts/9',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 24.97,
      't': 675.703,
      'r': 130.262,
      'b': 667.63,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 19]}],
   'orig': 'MALHAR SACHIN YADAV',
   'text': 'MALHAR SACHIN YADAV'},
  {'self_ref': '#/texts/10',
   'parent': {'$ref': '#/groups/0'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 24.97,
      't': 403.975,
      'r': 574.322,
      'b': 388.868,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 214]}],
   'orig': '1 Average  Total Expense Ratio above represents the average of annualized total expense charged in the respective schemes during the half-year period within the limits prescribed under SEBI (MFs) Regulations, 1996.',
   'text': '1 Average  Total Expense Ratio above represents the average of annualized total expense charged in the respective schemes during the half-year period within the limits prescribed under SEBI (MFs) Regulations, 1996.',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/11',
   'parent': {'$ref': '#/groups/0'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 24.97,
      't': 387.994,
      'r': 574.325,
      'b': 364.896,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 368]}],
   'orig': '2 The gross commission paid to distributor/s mentioned above indicates payments actually received by the distributor/s during the half year period and includes all direct monetary payments, other payments made in the form of gifts, rewards, trips, event sponsorships etc. by AMCs/MFs during this period. It also includes advance commission, if any paid in this period.',
   'text': '2 The gross commission paid to distributor/s mentioned above indicates payments actually received by the distributor/s during the half year period and includes all direct monetary payments, other payments made in the form of gifts, rewards, trips, event sponsorships etc. by AMCs/MFs during this period. It also includes advance commission, if any paid in this period.',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/12',
   'parent': {'$ref': '#/groups/0'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 24.97,
      't': 364.02299999999997,
      'r': 574.325,
      'b': 348.915,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 206]}],
   'orig': '3 The  gross  commission  paid  to distributor/s mentioned above does not exclude  costs  incurred  by  distributor/s  such  as service tax (wherever applicable, as per existing rates), operating costs etc.',
   'text': '3 The  gross  commission  paid  to distributor/s mentioned above does not exclude  costs  incurred  by  distributor/s  such  as service tax (wherever applicable, as per existing rates), operating costs etc.',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/13',
   'parent': {'$ref': '#/groups/0'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 24.97,
      't': 348.042,
      'r': 574.321,
      'b': 324.9440000000001,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 343]}],
   'orig': '4 SEBI has made it mandatory for all applicants to mention their Permanent Account  Number (PAN) irrespective of the amount of purchase (except in the case of Specified PAN exempt investments). Providing your correct PAN will ensure  that  you  receive the monthly Consolidated Account Statement (CAS) for transactions across all mutual funds.',
   'text': '4 SEBI has made it mandatory for all applicants to mention their Permanent Account  Number (PAN) irrespective of the amount of purchase (except in the case of Specified PAN exempt investments). Providing your correct PAN will ensure  that  you  receive the monthly Consolidated Account Statement (CAS) for transactions across all mutual funds.',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/14',
   'parent': {'$ref': '#/groups/0'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 24.97,
      't': 324.06999999999994,
      'r': 420.236,
      'b': 316.953,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 111]}],
   'orig': '5 In case of any queries or clarifications regarding TER & Commission details kindly contact respective MF/RTA.',
   'text': '5 In case of any queries or clarifications regarding TER & Commission details kindly contact respective MF/RTA.',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/15',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'section_header',
   'prov': [{'page_no': 1,
     'bbox': {'l': 19.976,
      't': 299.448,
      'r': 80.165,
      'b': 291.63599999999997,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 28]}],
   'orig': 'Load Structures लोड संरचनाएं',
   'text': 'Load Structures लोड संरचनाएं',
   'level': 1},
  {'self_ref': '#/texts/16',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'body',
   'label': 'text',
   'prov': [{'page_no': 1,
     'bbox': {'l': 40.762,
      't': 284.7049999999999,
      'r': 226.757,
      'b': 277.529,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 49]}],
   'orig': 'IDCW - Income Distribution and Capital Withdrawal',
   'text': 'IDCW - Income Distribution and Capital Withdrawal'},
  {'self_ref': '#/texts/17',
   'parent': {'$ref': '#/groups/1'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 22.973,
      't': 264.885,
      'r': 577.812,
      'b': 241.024,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 359]}],
   'orig': '1. FEGP -  Canara Robeco Focused Equity Fund - Regular Growth : Entry Load - Nil.  Exit Load - 1% if redeemed / switched out within 1 year  from the date of allotment.  Nil  -  if  redeemed/switched  out  after  1  Yearfrom  the  date  of  allotment.  **Investment  and  Advisory  expense-0.28%;  Commission  paid  to distributor-1.48%; Other Expenses-0.19%**',
   'text': '1. FEGP -  Canara Robeco Focused Equity Fund - Regular Growth : Entry Load - Nil.  Exit Load - 1% if redeemed / switched out within 1 year  from the date of allotment.  Nil  -  if  redeemed/switched  out  after  1  Yearfrom  the  date  of  allotment.  **Investment  and  Advisory  expense-0.28%;  Commission  paid  to distributor-1.48%; Other Expenses-0.19%**',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/18',
   'parent': {'$ref': '#/groups/1'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 22.973,
      't': 236.35899999999992,
      'r': 577.816,
      'b': 188.52600000000007,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 825]}],
   'orig': '2. GDGP -  NIPPON INDIA GOLD SAVINGS FUND - GROWTH PLAN GROWTH OPTION : Entry Load : NIL,For subscriptions received w.e.f. April 27th,2020. Exit Load 1% if redeemed/Switched out on or before completion of 15 days from the date of allotment of units.And Nil thereafter. Redemption of units would be done on First in First out Basis (FIFO).For subscriptions prior to April 27th, 2020, Exit load levied on the Units redeemed will be the rate prevailing at the time of the allotment of the Units."For Income tax purposes, the Scheme (i.e. Nippon India Gold Saving Fund) is classified as other than Equity Oriented Mutual Fund Scheme (Specified Mutual Fund Scheme).  Please refer Scheme information document for further details." **Investment and Advisory expense-NIL%; Commission paid to distributor-0.22%; Other Expenses-0.13%**',
   'text': '2. GDGP -  NIPPON INDIA GOLD SAVINGS FUND - GROWTH PLAN GROWTH OPTION : Entry Load : NIL,For subscriptions received w.e.f. April 27th,2020. Exit Load 1% if redeemed/Switched out on or before completion of 15 days from the date of allotment of units.And Nil thereafter. Redemption of units would be done on First in First out Basis (FIFO).For subscriptions prior to April 27th, 2020, Exit load levied on the Units redeemed will be the rate prevailing at the time of the allotment of the Units."For Income tax purposes, the Scheme (i.e. Nippon India Gold Saving Fund) is classified as other than Equity Oriented Mutual Fund Scheme (Specified Mutual Fund Scheme).  Please refer Scheme information document for further details." **Investment and Advisory expense-NIL%; Commission paid to distributor-0.22%; Other Expenses-0.13%**',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/19',
   'parent': {'$ref': '#/groups/1'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 22.973,
      't': 183.861,
      'r': 577.819,
      'b': 136.029,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 830]}],
   'orig': '3. EOGP -  NIPPON INDIA MULTI CAP FUND - GROWTH PLAN GROWTH OPTION : For subscriptions received w.e.f. Mar 17th, 2020, 10% of the units allotted shall be redeemed without any exit load, 1% exit load shall be applicable for units redeemed in excess of such limit,on or before completion of 12 months from the date of allotment of units. And Nil thereafter. Redemption of units would be done on First in First out Basis (FIFO).For subscriptions prior to  Mar 17th, 2020, Exit load levied on the Units redeemed will be the rate prevailing at the time of the allotment of the Units.For Special products registrations, load for each transaction is  based  on  the  load  structure  applicable  as  on  the  registration  date.  **Investment  and  Advisory  expense-0.59%;  Commission  paid  to distributor-0.80%; Other Expenses-0.19%**',
   'text': '3. EOGP -  NIPPON INDIA MULTI CAP FUND - GROWTH PLAN GROWTH OPTION : For subscriptions received w.e.f. Mar 17th, 2020, 10% of the units allotted shall be redeemed without any exit load, 1% exit load shall be applicable for units redeemed in excess of such limit,on or before completion of 12 months from the date of allotment of units. And Nil thereafter. Redemption of units would be done on First in First out Basis (FIFO).For subscriptions prior to  Mar 17th, 2020, Exit load levied on the Units redeemed will be the rate prevailing at the time of the allotment of the Units.For Special products registrations, load for each transaction is  based  on  the  load  structure  applicable  as  on  the  registration  date.  **Investment  and  Advisory  expense-0.59%;  Commission  paid  to distributor-0.80%; Other Expenses-0.19%**',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/20',
   'parent': {'$ref': '#/groups/1'},
   'children': [],
   'content_layer': 'body',
   'label': 'list_item',
   'prov': [{'page_no': 1,
     'bbox': {'l': 22.973,
      't': 131.36400000000003,
      'r': 577.821,
      'b': 67.54999999999995,
      'coord_origin': 'BOTTOMLEFT'},
     'charspan': [0, 1139]}],
   'orig': '4. 001RG -  Parag Parikh Flexi Cap Fund - Regular Plan : Exit Load:     Investors are requested to note that with effect from November 15, 2021, all new/prospective investments (including SIP/STP and SWP registered) in respect of each purchase / switch-in of units, 10% of the units may be redeemed without any exit load from the date of allotment made on or after the aforesaid effective date. Please refer Notice cum addendum dated November 11, 2021 available on website https://amc.ppfas.com/downloads/addendum/    Any redemption or switch out in excess of the aforesaid limit shall be subject to the following exit load :  Exit Load of 2% is applicable, if Units are redeemed/switched-out on or before 365 days from the date of allotment, 1% if redeemed/Switched-out after 365 days but on or before 730 days from the date allotment and thereafter there is no exit load. ""Effective from July 01, 2020, stamp duty @ 0.005% will be deducted from  the  Net  investment  amount.  Units  will  be  allotted  for  the  balance  amount.  **Investment  and  Advisory  expense-0.41%;Commission  paid  to distributor-0.72%;Other Expenses-0.20%**',
   'text': '4. 001RG -  Parag Parikh Flexi Cap Fund - Regular Plan : Exit Load:     Investors are requested to note that with effect from November 15, 2021, all new/prospective investments (including SIP/STP and SWP registered) in respect of each purchase / switch-in of units, 10% of the units may be redeemed without any exit load from the date of allotment made on or after the aforesaid effective date. Please refer Notice cum addendum dated November 11, 2021 available on website https://amc.ppfas.com/downloads/addendum/    Any redemption or switch out in excess of the aforesaid limit shall be subject to the following exit load :  Exit Load of 2% is applicable, if Units are redeemed/switched-out on or before 365 days from the date of allotment, 1% if redeemed/Switched-out after 365 days but on or before 730 days from the date allotment and thereafter there is no exit load. ""Effective from July 01, 2020, stamp duty @ 0.005% will be deducted from  the  Net  investment  amount.  Units  will  be  allotted  for  the  balance  amount.  **Investment  and  Advisory  expense-0.41%;Commission  paid  to distributor-0.72%;Other Expenses-0.20%**',
   'enumerated': False,
   'marker': '-'},
  {'self_ref': '#/texts/21',
   'parent': {'$ref': '#/body'},
   'children': [],
   'content_layer': 'furniture',
   'label': 'page_footer',

In [6]:
# # Loop through tables and display each one
# with open("page3newdata.json", mode="r", encoding="utf-8") as fp:
#     json_data = json.load(fp)

# for i in range(json_data["tables"].__len__()):
#     get_tables(json_data, i)
# with open("malhardata1.json", "w") as json_file:
#         json.dump(predefined_data, json_file, indent=4)  # indent=4 makes it readable

**Table 1**

   MonthYear PortfolioValuationIn  Changesin Changesin
0   Oct 2023          2,12,072.15
1   Nov 2023          2,25,301.29  13,229.14      6.24
2   Dec 2023          2,39,973.47  14,672.18      6.51
3   Jan 2024          2,49,680.44   9,706.97      4.05
4   Feb 2024          2,50,720.18   1,039.74      0.42
5   Mar 2024          2,53,075.55   2,355.37      0.94
6   Apr 2024          2,69,976.24  16,900.69      6.68
7   May 2024          2,76,072.39   6,096.15      2.26
8   Jun 2024          2,90,401.59  14,329.20      5.19
9   Jul 2024          3,01,522.90  11,121.31      3.83
10  Aug 2024          3,03,593.34   2,070.44      0.69
11  Sep 2024          3,09,384.23   5,790.89      1.91

**Table 2**

           AssetClass        Value Percentage
0              Equity    25,827.25       8.35
1  Mutual Fund Folios  2,83,556.98      91.65
2               Total  3,09,384.23     100.00

{'accounts': {'Equity': {'Value': '25,827.25', 'Percentage': '8.35'}, 'Mutual Fund Folios': {'Value': '2,83,556.98', 'Percentage': '91.65'}, 'Total': {'Value': '3,09,384.23', 'Percentage': '100.00'}}, 'portfolio': {'month_wise': None}, 'asset_allocation': None}

In [41]:
import os
import re
import json
from IPython.display import display
# import csv
import unicodedata
import pandas as pd
# import pdfplumber
# from flask import Flask, request, render_template, jsonify
from docling.datamodel.pipeline_options import PdfPipelineOptions
from docling.document_converter import DocumentConverter, PdfFormatOption
from docling.datamodel.base_models import InputFormat

# Constants
UPLOAD_FOLDER = "uploads"
EXTRACTED_TABLES = "data/extracted_tables"
ALLOWED_EXTENSIONS = {"pdf"}

# Ensure required directories exist
os.makedirs(UPLOAD_FOLDER, exist_ok=True)
os.makedirs(EXTRACTED_TABLES, exist_ok=True)

# Initialize Flask App
# app = Flask(__name__)
# app.config["UPLOAD_FOLDER"] = UPLOAD_FOLDER
# app.config["EXTRACTED_TABLES"] = EXTRACTED_TABLES

# Predefined Data Structure
predefined_data = {
    "accounts": None,
    "portfolio": {"month_wise": None},
    "asset_allocation": None,
    "CDSLHoldings" : None,
    "MFHoldings" : None,
}
df_list = []
def allowed_file(filename):
    """Check if the uploaded file has an allowed extension."""
    return "." in filename and filename.rsplit(".", 1)[1].lower() in ALLOWED_EXTENSIONS

def dataframe_to_dict(df):
    """Convert a DataFrame to a nested dictionary."""
    dict_key_column = df.columns[0]
    df = df.dropna(subset=[dict_key_column])
    return {row[dict_key_column]: row.drop(dict_key_column).to_dict() for _, row in df.iterrows()}

def clean_strings(strings):
    """Clean column names by removing non-alphabetic characters."""
    return [re.sub(r"[^a-zA-Z]", "", s) for s in strings]

def clean_text(text):
    """Normalize and clean text."""
    if text is None:
        return ""
    text = unicodedata.normalize('NFKD', text)
    text = re.sub(r'[^A-Za-z0-9\s.,!?;:\'"()-]', '', text)
    return re.sub(r'\s+', ' ', text).strip()

def extract_pdf_data(source: str):
    """Extract data from a PDF using DocumentConverter."""
    pipeline_options = PdfPipelineOptions(
        do_ocr=False,  # Assume digitally generated document
        do_table_structure=True,
        table_detection_mode="lattice",
    )
    converter = DocumentConverter(
        format_options={InputFormat.PDF: PdfFormatOption(pipeline_options=pipeline_options)}
    )
    result = converter.convert(source)
    
    with open("extracted_data.json", "w", encoding="utf-8") as fp:
        json.dump(result.document.export_to_dict(), fp, indent=4)

def get_same_tables(dfs):
    """Group DataFrames with the same column structure and return lists of matching DataFrames."""
    column_groups = {}

    for df in dfs:
        col_tuple = tuple(df.columns)  # Convert columns to a tuple for hashing
        column_groups.setdefault(col_tuple, []).append(df)

    # Return only groups that contain more than one DataFrame
    return [group for group in column_groups.values() if len(group) > 1]

def process_similar_tables(dfs):
    """Identify and merge similar tables, keeping unique ones separate."""
    same_table_groups = get_same_tables(dfs)  # Get lists of similar tables
    merged_tables = []  # Stores merged DataFrames
    unique_tables = dfs.copy()  # Keep track of unique tables

    for group in same_table_groups:
        merged_df = pd.concat(group, ignore_index=True)  # Merge similar tables
        merged_tables.append(merged_df)

        # Remove merged tables from unique_tables
        for df in group:
            if df in unique_tables:
                unique_tables.remove(df)

    return merged_tables, unique_tables  # Return merged + unique tables

    
def process_holdings_data(df_list):
    merged_tables, unique_tables = process_similar_tables(df_list)
    for df in merged_tables:
        if df.columns[0] == "ISINISIN":
            predefined_data["CDSLHoldings"] = dataframe_to_dict(df)
        elif df.columns[0] == "SchemeName":
            predefined_data["MFHoldings"] = dataframe_to_dict(df)
    for df in unique_tables:
        if df.columns[0] == "SchemeName":
            predefined_data["MFHoldings"] = dataframe_to_dict(df)
        elif df.columns[0] == "ISINISIN":
            predefined_data["CDSLHoldings"] = dataframe_to_dict(df)

def process_tables():
    """Process extracted tables and update predefined_data."""
    with open("extracted_data.json", "r", encoding="utf-8") as fp:
        json_data = json.load(fp)
    
    for i, table_data in enumerate(json_data.get("tables", [])):
        raw_data = table_data["data"]["table_cells"]
        max_columns = max(cell["start_col_offset_idx"] + cell["col_span"] for cell in raw_data)
        
        table = {}
        for cell in raw_data:
            row_idx = cell["start_row_offset_idx"]
            col_idx = cell["start_col_offset_idx"]
            text = cell["text"]
            if row_idx not in table:
                table[row_idx] = [""] * max_columns
            table[row_idx][col_idx] = text
        
        structured_data = [table[row] for row in sorted(table.keys())]
        columns = clean_strings(structured_data.pop(0))
        df = pd.DataFrame(structured_data, columns=columns)
        
        if i == 1:
             predefined_data["accounts"] = dataframe_to_dict(df)
            
        elif i == 2:
            predefined_data["portfolio"]["month_wise"] = dataframe_to_dict(df)
        elif i == 3:
            predefined_data["asset_allocation"] = dataframe_to_dict(df)
        elif i > 4:
            df_list.append(df)
        display(df)
        df.to_csv(f"extracted_table_{i+1}.csv", index=False)
    process_holdings_data(df_list)
    with open("final_data.json", "w") as json_file:
        json.dump(predefined_data, json_file, indent=4)

def save_and_extract(filepath):
    """Save uploaded PDF and extract tables."""
    extract_pdf_data(filepath)
    process_tables()

In [42]:
save_and_extract(r"C:\Users\malhar.yadav\scripts\PdfToDashboard\uploads\sb.pdf")

,NameJointNames,PortfolioValuationIn,,ViewStatement
0,Shriraj Devidas Bhore,CDSL Demat Accounts NSDL Demat Accounts* Mutua...,"68,506.45 N.A 33,016.35",Click Here
1,,Total Portfolio Value,"1,01,522.80",

,AccountType,AccountDetails,NoofISINsSchemesISIN,Valuein
0,CDSL Demat Account,ANGEL ONE LIMITED DP Id: 12033200 Client Id ...,16,"68,506.45"
1,Mutual Fund Folios,3 Folios,3,"33,016.35"
2,,,Total,"1,01,522.8"
3,,,Grand Total,"1,01,522.80"

   MonthYear PortfolioValuationIn  Changesin Changesin
0   Apr 2023            34,128.80
1   May 2023            36,288.49   2,159.69      6.33
2   Jun 2023            38,283.06   1,994.57      5.50
3   Jul 2023            38,009.16    -273.90     -0.72
4   Aug 2023            38,903.91     894.75      2.35
5   Sep 2023            72,886.82  33,982.91     87.35
6   Oct 2023            73,516.96     630.14      0.86
7   Nov 2023            81,097.77   7,580.81     10.31
8   Dec 2023            92,177.30  11,079.53     13.66
9   Jan 2024            95,730.29   3,552.99      3.85
10  Feb 2024          1,00,184.33   4,454.04      4.65
11  Mar 2024          1,01,522.80   1,338.47      1.34

                        AssetClass       Value Percentage
0                           Equity   61,696.06      60.77
1            Government Securities    6,450.00       6.35
2               Mutual Fund Folios   33,016.35      32.52
3  Mutual Funds Held in Demat Form      360.39       0.35
4                            Total  1,01,522.8      99.99

                       AssetsClass      Valuein
0                           Equity    61,696.06  60.77
1               Mutual Fund Folios    33,016.35  32.52
2            Government Securities     6,450.00   6.35
3  Mutual Funds Held in Demat Form       360.39   0.35
4                            Total  1,01,522.80  99.99

,ISINISIN,Security,CurrentBal,FrozenBal,PledgeBal,PledgeSetupBal,FreeBal,MarketPriceFaceValue,Value
0,INE084A01016,BANK OF INDIA EQUITY SHARES,1.000,--,--,--,1.000,137.000,137.00
1,INE457A01014,BANK OF MAHARASHTRA - EQUITY SHARES,3.000,--,--,--,3.000,62.290,186.87
2,INE016A01026,DABUR INDIA LIMITED - EQUITY SHARES (FV RE.1/-),1.000,--,--,--,1.000,523.150,523.15

,ISINISIN,Security,CurrentBal,FrozenBal,PledgeBal,PledgeSetupBal,FreeBal,MarketPriceFaceValue,Value
0,INE512B01022,FCS SOFTWARE SOLUTIONS LIMITED - NEW EQUITY SH...,44.000,--,--,--,44.000,3.660,161.04
1,IN0020210236,GOVT OF INDIA#2.5% SGB 2021-22 SERIES IX 2030-...,1.000,--,--,--,1.000,6450.000,"6,450.00"
2,INE242A01010,INDIAN OIL CORPORATION LIMITED EQUITY SHARES,31.000,--,--,--,31.000,167.750,"5,200.25"
3,INE053F01010,INDIAN RAILWAY FINANCE CORPORATION LIMITED # E...,4.000,--,--,--,4.000,142.400,569.60
4,INE154A01025,ITC LIMITED - EQUITY SHARES OF RE.1/- AFTER SPLIT,8.000,--,--,--,8.000,428.550,"3,428.40"
5,INF204KB17I5,NIPPON LIFE INDIA AM LTD#NIPPON INDIA MF-NIPPO...,2.000,--,--,--,2.000,56.630,113.26
6,INF204KB14I2,NIPPON LIFE INDIA AM LTD#NIPPON INDIA MF-NIPPO...,1.000,--,--,--,1.000,247.130,247.13
7,INE733E01010,NTPC LIMITED-EQUITY SHARES,145.000,--,--,--,145.000,335.950,"48,712.75"
8,INE750A01020,ORIENTAL HOTELS LIMITED- NEW EQUITY SHARES OF ...,1.000,--,--,--,1.000,115.850,115.85
9,INE415G01027,RAIL VIKAS NIGAM LIMITED # EQUITY SHARES,3.000,--,--,--,3.000,252.950,758.85
10,INE330H01018,RELIANCE COMMUNICATIONS LIMITED - EQUITY SHARES,5.000,--,--,--,5.000,1.820,9.10
11,INE064C01022,TRIDENT LIMITED#NEW EQUITY SHARES WITH FACE VA...,50.000,--,--,--,50.000,36.540,"1,827.00"
12,INE669E01016,VODAFONE IDEA LTD # EQUITY SHARES,5.000,--,--,--,5.000,13.240,66.20
13,"Portfolio Value ` 68,506.45 as on 31-03-2024",,,,,,,,

,Date,TransactionDescription,Amount,NAVNAV,Price,Units,StampDuty,IncomeDistribution,CapitalWithdrawal
0,,Opening Balance,,,,335.588,,,
1,,11-03-2024 Normal - Instalment 27/936 PURCHASE...,499.98,40.2424,40.2424,12.424,.02,0,0
2,,Closing Balance,,,,348.012,,,

,SchemeName,ISIN,FolioNo,ARNCode,ClosingBalUnits,NAV,CumulativeAmountInvestedinINR,Valuation,AverageTotalExpenseRatioTERInTerms,,GrossCommissionPaidtoDistributorsinabsolute
0,,,,,,,,,Regular,Direct,terms - in INR)
1,D055A - SBI Nifty Index Fund - Direct Plan - ...,INF200K01TE8 28455236/0,,ARN- DIRECT,,74.932 203.7423,"12,500.00","15,266.82",0,.18,0
2,D079B - SBI Savings Fund - Direct Plan - Growth,INF200K01SZ5 28455236/0,,ARN- DIRECT,348.012,40.4415,"13,000.00","14,074.13",0,.24,0
3,SRGP - SUNDARAM SERVICES FUND REGULAR GROWTH,INF903JA1EX7,61049050­ 55/0,ARN-187821,131.275,27.9977,"2,900.00","3,675.40",1.94,0,22.29
4,Grand Total,,,,,,"28,400.00","33,016.35",,,

In [36]:
len(samedf)

1

In [11]:
!pip list

Package                   Version
------------------------- -----------
annotated-types           0.7.0
asttokens                 3.0.0
attrs                     25.1.0
beautifulsoup4            4.13.3
blinker                   1.9.0
certifi                   2025.1.31
cffi                      1.17.1
charset-normalizer        3.4.1
click                     8.1.8
colorama                  0.4.6
comm                      0.2.2
cryptography              44.0.0
debugpy                   1.8.12
decorator                 5.2.1
dill                      0.3.9
docling                   2.25.1
docling-core              2.21.1
docling-ibm-models        3.4.1
docling-parse             3.4.0
easyocr                   1.7.2
et_xmlfile                2.0.0
executing                 2.2.0
filelock                  3.17.0
filetype                  1.2.0
Flask                     3.1.0
fsspec                    2025.2.0
huggingface-hub           0.29.1
idna                      3.10
imageio                   2.37.0
ipykernel                 6.29.5
ipython                   9.0.0
ipython_pygments_lexers   1.1.1
itsdangerous              2.2.0
jedi                      0.19.2
Jinja2                    3.1.5
jsonlines                 3.1.0
jsonref                   1.1.0
jsonschema                4.23.0
jsonschema-specifications 2024.10.1
jupyter_client            8.6.3
jupyter_core              5.7.2
latex2mathml              3.77.0
lazy_loader               0.4
lxml                      5.3.1
markdown-it-py            3.0.0
marko                     2.1.2
MarkupSafe                3.0.2
matplotlib-inline         0.1.7
mdurl                     0.1.2
mpire                     2.10.2
mpmath                    1.3.0
multiprocess              0.70.17
nest-asyncio              1.6.0
networkx                  3.4.2
ninja                     1.11.1.3
numpy                     2.2.2
opencv-python-headless    4.11.0.86
openpyxl                  3.1.5
packaging                 24.2
pandas                    2.2.3
parso                     0.8.4
pdfminer.six              20231228
pdfplumber                0.11.5
pillow                    11.1.0
pip                       25.0.1
platformdirs              4.3.6
prompt_toolkit            3.0.50
psutil                    7.0.0
pure_eval                 0.2.3
pyclipper                 1.3.0.post6
pycparser                 2.22
pydantic                  2.10.6
pydantic_core             2.27.2
pydantic-settings         2.8.1
Pygments                  2.19.1
PyMuPDF                   1.25.3
pypdfium2                 4.30.1
python-bidi               0.6.6
python-dateutil           2.9.0.post0
python-docx               1.1.2
python-dotenv             1.0.1
python-pptx               1.0.2
pytz                      2025.1
pywin32                   308
PyYAML                    6.0.2
pyzmq                     26.2.1
referencing               0.36.2
regex                     2024.11.6
requests                  2.32.3
rich                      13.9.4
rpds-py                   0.23.1
Rtree                     1.3.0
safetensors               0.5.3
scikit-image              0.25.2
scipy                     1.15.2
semchunk                  2.2.2
setuptools                75.8.2
shapely                   2.0.7
shellingham               1.5.4
six                       1.17.0
soupsieve                 2.6
stack-data                0.6.3
sympy                     1.13.1
tabulate                  0.9.0
tifffile                  2025.2.18
tokenizers                0.21.0
torch                     2.6.0
torchvision               0.21.0
tornado                   6.4.2
tqdm                      4.67.1
traitlets                 5.14.3
transformers              4.49.0
typer                     0.12.5
typing_extensions         4.12.2
tzdata                    2025.1
urllib3                   2.3.0
wcwidth                   0.2.13
Werkzeug                  3.1.3
XlsxWriter                3.2.2

In [43]:
d = {"k" : "v"}
d.update({"k1" : "v1"})
d

{'k': 'v', 'k1': 'v1'}

In [10]:
from docling.datamodel.pipeline_options import PdfPipelineOptions
from docling.document_converter import DocumentConverter, PdfFormatOption
from docling.datamodel.base_models import InputFormat, DocumentStream
from io import BytesIO
import os

pdf_path = r"C:\Users\malhar.yadav\Downloads\sb.pdf"

try:
    # **Checkpoint 1: Verify if the file exists**
    if not os.path.exists(pdf_path):
        raise FileNotFoundError(f"File not found: {pdf_path}")

    print("Checkpoint 1: PDF file found.")

    # **Checkpoint 2: Read the file**
    with open(pdf_path, "rb") as f:
        your_binary_stream = f.read()

    if not your_binary_stream:
        raise ValueError("PDF file is empty.")

    print("Checkpoint 2: PDF file successfully read.")

    # **Checkpoint 3: Convert to BytesIO and reset pointer**
    buf = BytesIO(your_binary_stream)
    buf.seek(0)

    print("Checkpoint 3: Converted file to BytesIO.")

    # **Checkpoint 4: Set pipeline options for docling**
    pipeline_options = PdfPipelineOptions(
        do_ocr=True,  # Enable OCR in case it's a scanned document
        do_table_structure=False,
    )

    print("Checkpoint 4: Pipeline options set.")

    # **Checkpoint 5: Initialize DocumentConverter**
    converter = DocumentConverter(
        format_options={InputFormat.PDF: PdfFormatOption(pipeline_options=pipeline_options)}
    )

    print("Checkpoint 5: DocumentConverter initialized.")

    # **Checkpoint 6: Create DocumentStream**
    source = DocumentStream(name="sb.pdf", stream=buf)

    print("Checkpoint 6: DocumentStream created.")

    # **Checkpoint 7: Attempt to convert the document**
    result = converter.convert(source)

    print("Checkpoint 7: Document conversion attempted.")

    # **Checkpoint 8: Validate conversion result**
    if not result:
        raise ValueError("Conversion result is None. The document may be unreadable.")

    if not result.document:
        raise ValueError("Conversion result does not contain a document.")

    print("Checkpoint 8: Conversion successful.")

    # **Checkpoint 9: Extract text**
    text_data = result.document.export_to_text()

    print("Checkpoint 9: Extracted text from document.")

    # **Checkpoint 10: Output the extracted text**
    print("Extracted Text:\n", text_data)

except FileNotFoundError as e:
    print(f"Error: {e}")

except ValueError as e:
    print(f"Validation Error: {e}")

except Exception as e:
    print(f"PDF processing failed: {e}")

Checkpoint 1: PDF file found.
Checkpoint 2: PDF file successfully read.
Checkpoint 3: Converted file to BytesIO.
Checkpoint 4: Pipeline options set.
Checkpoint 5: DocumentConverter initialized.
Checkpoint 6: DocumentStream created.
Checkpoint 7: Document conversion attempted.
Checkpoint 8: Conversion successful.
Checkpoint 9: Extracted text from document.
Extracted Text:
 &lt;unknown&gt;

<!-- missing-text -->

A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)

CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS FOR THE PERIOD FROM  01-03-2024 TO  31-03-2024 01-03-2024 से 31-03-2024 क� अव�ध क े  �लए डीमैट फॉम� म� रखी गई ��तभू�तय� और �यूचुअल फ ं ड म� �नवेश  और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)

Summary of Investments �नवेश� का �ववरण

(On the basis of PAN of first holder) (�थम धारक क े  PAN क े  आधार पर)

<!-- missing-text -->

* No Demat Account

<!-- missing-text -->

Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड

A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)

CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)

CAS ID: AA07149716

Shriraj Devidas Bhore BHOSARE SOLAPUR

SOLAPUR MAHARASHTRA PINCODE: 413208

Statement for the period from 01-Mar-2024 to 31-Mar-2024 01-माच�-2024 से 31-माच�-2024 तक क� अव�ध क े  �लए �ववरण

YOUR CONSOLIDATED PORTFOLIO VALUE आपका समे�कत पोट�फो�लयो मू�य

` 1,01,522.80 |

Summary सारांश

Your Demat Account and Mutual Fund Folios In the single name of

SHRIRAJ DEVIDAS BHORE ( PAN :EWAPB9253C )

<!-- missing-text -->

Consolidated Portfolio Valuation for Year वष� क े  �लए समे�कत पोट�फो�लयो मू�यांकन

Portfolio Valuation for Year

<!-- missing-text -->

<!-- missing-text -->

Consolidated Portfolio for Accounts for the Month माह के  �लए खाते का समे�कत पोट�फो�लयो

<!-- missing-text -->

Equity

Government Securities

- Mutual Fund Folios

Mutual Funds Held in Demat Form

<!-- missing-text -->

Sep

<!-- missing-text -->

Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड

A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)

CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)

Summary of Investments �नवेश� का �ववरण

CDSL Demat Account Details CDSL DEMAT खाता �ववरण

NSDL Demat Account Details NSDL DEMAT खाता �ववरण

MF Details MF �ववरण

Notes �ट�प�णयां

About CDSL CDSL के  बारे म�

Shriraj Devidas Bhore

Shriraj Devidas Bhore

BHOSARE SOLAPUR  SOLAPUR , 413208 MAHARASHTRA INDIA

Attention: SEBI vide its circular no. CIR/MRD/ DP/31/2014 dated November 12, 2014 mandated depositories to issue a Consolidated Account Statement (CAS) to view all investments held in CDSL/NSDL/Mutual Funds. We trust this initiative by SEBI would be beneficial to you. �यान द�: SEBI ने अपने प�रप� सं. CIR/MRD/ DP/31/2014 �दनांक 12 नव�बर, 2014 �वारा �डपॉिजटर�ज क े  �लए CDSL/NSDL/�युचुअल फ ं � स म� �कए गए सभी �नवेश �द�श�त करने क े  �लए एक समे�कत खाता �ववरण (CAS) जार� करना अ�नवाय� कर �दया है।

Total Portfolio Value across investments ₹ 1,01,522.80 as on  31-03-2024 31-03-2024 तक क े  अनुसार सभी �नवेश� म� क ु ल पोट�फो�लयो मू�य ₹ 1,01,522.80

<!-- missing-text -->

<!-- missing-text -->

DEMAT ACCOUNTS HELD WITH CDSL CDSL म� DEMAT खाते

BO Status : INDIVIDUAL BO ि�थ�त: INDIVIDUAL

RGESS : NO O RGESS: N

Frozen Status : Not Frozen �ोजेन ि�थ�त: Not Frozen

BO ID : 1203320025422711 1 BO ID: 120332002542271

Email Id : shriraj_bhore@yahoo.com ईमेल आईडीः shriraj_bhore@yaho .

BO Sub Status : Individual- Resident Negative Nominationidual- Resident BO सब ि�थ�त: Indiv

Mobile No : XXXXXX9595

com

Negative Nomination

मोबाइल नं.

XXXXXX9595

DP Name : ANGEL ONE LIMITED ED DP का नाम: ANGEL ONE LIMIT

Nominee : Not Registered नामांकनः Not Registered

Account Status : Active खाते क� ि�थ�त: Active

BSDA : YES BSDA:

Smart Registration : Registered �माट� रिज��ेशन: Registered

STATEMENT OF TRANSACTIONS FOR THE PERIOD FROM 01-03-2024 TO 31-03-2024 01-03-2024 से 31-03-2024 तक क� अव�ध के  �लए लेनदेन� का �ववरण

No Transaction during the period अव�ध क े  दौरान कोई लेनदेन नह�ं

HOLDING STATEMENT AS ON 31-03-2024 31-03-2024 तक के  अनुसार होि�डं�स �ववरण

<!-- missing-text -->

<!-- missing-text -->

Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड

A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)

CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)

Summary of Investments �नवेश� का �ववरण

CDSL Demat Account Details CDSL DEMAT खाता �ववरण

NSDL Demat Account Details NSDL DEMAT खाता �ववरण

MF Details MF �ववरण

Notes �ट�प�णयां

About CDSL CDSL के  बारे म�

Shriraj Devidas Bhore

<!-- missing-text -->

For any queries regarding demat account statement, please contact your respective Depository Participant. DEMAT खाता �ववरण क े  बारे म� �कसी पूछता◌ाछ क े  �लए क ृ पया अपने संबं�धत �डपॉिजटर� ��तभागी से संपक �  कर�

<!-- missing-text -->

Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड

A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)

CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)

Summary of Investments �नवेश� का �ववरण

CDSL Demat Account Details CDSL DEMAT खाता �ववरण

NSDL Demat Account Details NSDL DEMAT खाता �ववरण

MF Details MF �ववरण

Notes �ट�प�णयां

About CDSL CDSL के  बारे म�

Shriraj Devidas Bhore

"You do not have demat accounts in NSDL for this PAN pattern"

<!-- missing-text -->

Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड

A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)

CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)

Summary of Investments �नवेश� का �ववरण

CDSL Demat Account Details CDSL DEMAT खाता �ववरण

NSDL Demat Account Details NSDL DEMAT खाता �ववरण

MF Details MF �ववरण

Notes �ट�प�णयां

About CDSL CDSL के  बारे म�

Shriraj Devidas Bhore

MUTUAL FUND UNITS HELD WITH MF/RTA MF/RTA म� रखी गई �युचुअल फं ड यू�नट�

STATEMENT OF TRANSACTIONS FOR THE PERIOD FROM 01-03-2024 TO 31-03-2024 01-03-2024 से 31-03-2024 तक क� अव�ध के  �लए लेनदेन� का �ववरण

SBI Mutual Fund

D055A - SBI  Nifty Index Fund - Direct Plan - Growth

Folio No : 28455236/0

Mode of Holding : Single

ISIN : INF200K01TE8

Date तार�ख

Transaction Description लेनदेन का �ववरण

Opening Balance

Purchase- Systematic-

11-03-2024 Normal - Instalment 27/936

868355900

Closing Balance

D079B - SBI Savings Fund - Direct Plan - Growth

Folio No : 28455236/0

Mode of Holding : Single

KYC of Investor/s : KYC OK

Nominee : Registered

ISIN : INF200K01SZ5

<!-- missing-text -->

UCC : MFSBIM0052

Mobile No : XXXXXX9595

Email : Please provide

Sundaram Mutual Fund

SRGP - SUNDARAM SERVICES FUND REGULAR GROWTH

Folio No : 6104905055/0

Mode of Holding : Single

ISIN : INF903JA1EX7

Date

Transaction Description

तार�ख

लेनदेन का �ववरण

Opening Balance

Systematic Investment (1/1)

6260046

Closing Balance

UCC :

Amount (`)

रा�श (

₹

)

100

NAV (`)

NAV ( )

₹

27.8816

UCC : MFSBIM0043

Amount (`) )

NAV (`) NAV ( ) ₹

रा�श (

₹

499.98

203.8263

01-03-2024

KYC of Investor/s : KYC OK

Mobile No : XXXXXX9595

Price (`)

Units

क�मत (

₹

)

यू�न� स

72.479

2.453

203.8263

74.932

KYC of Investor/s : KYC OK

Mobile No : XXXXXX9595

Price (`)

Units

क�मत (

₹

)

यू�न� स

127.688

3.587

131.275

27.8816

Nominee : Registered

Email : Please provide

Stamp

Income

Duty (`)

Distrib­

�टा�प

आय का

शु�क (

ution (`)

₹

)

�वतरण (

₹

Capital

Withdr­

पूंजी

) �नकासी (

.02

0

awal (`)

₹

)

0

Nominee : Please Nominate

Email : shrirajbhore0095@yahoo. com

Stamp

Income

Capital

Duty (`)

�टा�प

आय का

पूंजी

शु�क (

₹

)

0

�वतरण (

Distrib­

ution (`)

₹

) �नकासी (

0

Withdr­

awal (`)

₹

)

0

<!-- missing-text -->

Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड

A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)

CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)

Summary of Investments �नवेश� का �ववरण

CDSL Demat Account Details CDSL DEMAT खाता �ववरण

NSDL Demat Account Details NSDL DEMAT खाता �ववरण

MF Details MF �ववरण

Notes �ट�प�णयां

About CDSL CDSL के  बारे म�

Shriraj Devidas Bhore

MUTUAL FUND UNITS HELD AS ON 31-03-2024

<!-- missing-text -->

- 1 Average  Total Expense Ratio above represents the average of annualized total expense charged in the respective schemes during the half-year period within the limits prescribed under SEBI (MFs) Regulations, 1996.
- 2 The gross commission paid to distributor/s mentioned above indicates payments actually received by the distributor/s during the half year period and includes all direct monetary payments, other payments made in the form of gifts, rewards, trips, event sponsorships etc. by AMCs/MFs during this period. It also includes advance commission, if any paid in this period.
- 3 The  gross  commission  paid  to distributor/s mentioned above does not exclude  costs  incurred  by  distributor/s  such  as service tax (wherever applicable, as per existing rates), operating costs etc.
- 4 SEBI has made it mandatory for all applicants to mention their Permanent Account  Number (PAN) irrespective of the amount of purchase (except in the case of Specified PAN exempt investments). Providing your correct PAN will ensure  that  you  receive the monthly Consolidated Account Statement (CAS) for transactions across all mutual funds.
- 5 In case of any queries or clarifications regarding TER &amp;amp; Commission details kindly contact respective MF/RTA.

Load Structures लोड संरचनाएं

IDCW - Income Distribution and Capital Withdrawal

- 1. D055A -  SBI  Nifty Index Fund - Direct Plan - Growth : Entry Load : N.A.; Exit Load - W.e.f. 30.Nov.2017: 0.20% if redeemed/ switched out within 15 days from the date of investment; NIL if redeemed/ switched after 15 days from the date of investment. STT @ 0.001% is applicable at the time of redemption / switch. For applicability of exit load structure for specific transaction, please refer to Addendum issued from time to time.                                                                                                                                             W. e.f. 1st July 2020, Stamp Duty @ 0.005% is applicable on allotment of units.  As per SEBI guidelines, w.e.f. February 01, 2021, applicable NAV for allotment of units shall be based on time of receipt of transaction and funds available for utilization upto the cut-off time. TDS shall be deducted (wherever applicable) as per  rates  under  New  Tax  Regime.  Differential  tax  if  any,  should  be  evaluated  by  investor(s),  basis  relevant  tax  provisions.  **Investment  and  Advisory expense-0.12%;Commission paid to distributor-0.00%;Other Expenses-0.06%**
- 2. D079B -  SBI Savings Fund - Direct Plan - Growth : Entry Load : N.A.; Exit Load - W.e.f. 15-Apr-2013: 0.10% if redeemed/switched within 3 business days from the date of investment;  NIL if redeemed/switched after 3 business days from the date of investment. For applicability of exit load structure for specific transaction, please refer to Addendum issued from time to time.  W.e.f. 1st July 2020, Stamp Duty @ 0.005% is applicable on allotment of units.  As per SEBI guidelines, w.e.f. February 01, 2021, applicable NAV for allotment of units shall be based on time of receipt of transaction and funds available for utilization upto the cut-off time. TDS shall be deducted (wherever applicable) as per rates under New Tax Regime. Differential tax if any, should be evaluated by investor (s), basis relevant tax provisions. **Investment and Advisory expense-0.18%;Commission paid to distributor-0.00%;Other Expenses-0.06%**
- 3. SRGP -  SUNDARAM SERVICES FUND REGULAR GROWTH : Entry Load Nil, W.E.F Mar 2, 2020 Exit Load: Upto 25% of Units purchased/switchin - NIL In excess of the above: 1% if redeemed/ SWP/STP within 365  days from the date of allotment. NIL if redeemed /SWP/STP after 365 days from thedate of allotment **Investment and Advisory expense-0.54%; Commission paid to distributor-1.18%; Other Expenses-0.22%**

Notes: All unit allotments are subject to realization of payment; The pending MF transactions as on the last date of previous month would be reflected in the next monthly statement. �ट�प�णयां: सभी यू�नट आवंटन भुगतान क� �ाि�त क े  �वषयाधीन ह�; �पछले माह क� आ�खर� तार�ख को लं�बत MF लेनदेन अगले मा�सक �ववरण म� �दखाई द�गे।

<!-- missing-text -->

Central Depository Services (India) Limited स��ल �डपॉिजटर� स�व�सेज (इं�डया) �ल�मटेड

A Wing, 25th Floor, Marathon Futurex, Mafatlal Mills Compounds, N M Joshi Marg, Lower Parel (E), Mumbai - 400013.| (CIN : L67120MH1997PLC112443) A �वंग, 25 वां तल, मैराथन �यूचुरे�स, मफतलाल �म�स क ं पाउं�स, एन एम जोशी माग�, लोअर परेल (पूव�), मुंबई- 400013 | ( CIN : L67120MH1997PLC112443)

CONSOLIDATED ACCOUNT STATEMENT (CAS) FOR SECURITIES HELD IN DEMAT FORM AND INVESTMENTS IN MUTUAL FUNDS डीमैट फॉम� म� रखी गई ��तभू�तय� और �युचुअल फ ं ड म� �नवेश और NPS म� �नवेश क े  �लए समे�कत खाता �ववरण (CAS)

Summary of Investments �नवेश� का �ववरण

CDSL Demat Account Details CDSL DEMAT खाता �ववरण

NSDL Demat Account Details NSDL DEMAT खाता �ववरण

MF Details MF �ववरण

Notes �ट�प�णयां

About CDSL CDSL के  बारे म�

NOTES TO CAS CAS क े  �लए �ट�प�णयां

- 1. If you approach your DP/MF for your statement, you would receive statement pertaining to only the demat account(s) or folio(s) maintained by such DP or MF. 1. य�द आप अपने �ववरण क े  �लए अपने DP/MF से संपक �  करते ह�, तो आपको उस DP या MF �वारा बनाए गए क े वल DEMAT खाते (खात�) या फो�लयो से संबं�धत �ववरण �ा�त होगा।
- 2. The  information  reflected  in  CAS  about  mutual  fund  investment  and  investments  held  in  demat accounts with NSDL is solely based on the information received respectively from Asset Management Companies (AMC)/ RTA and NSDL. In case of any queries related to such information, kindly approach the respective AMC/RTA or NSDL, as the case may be. In case of any discrepancies in folio/s /demat accounts, KYC Status, data, holding, units, securities etc. in CAS due to error, if any, in consolidation or whatsoever reason, the records as per the respective Mutual Fund/RTA/Depository will be treated as final and will prevail. In such cases, investors should revert within 10 days to the respective DP/ RTA or the Mutual Fund. 2. �युचुअल फ ं ड �नवेश और NSDL म� DEMAT खात� म� मौजूद �नवेश क े  बारे म� CAS म� �द�श�त जानकार� पूर� तरह से �मशः प�रसंपि�त �बंधन क ं प�नय� (AMC)/RTA और NSDL से �ा�त जानकार� पर आधा�रत है। इस जानकार� से संबं�धत �कसी पूछताछ क े  मामले म�, क ृ पया संबं�धत AMC/RTA या NSDL, जैसा भी मामला हो, से संपक �   कर�।  CAS  म�  फो�लयो/  DEMAT  खात�,  KYC  ि�थ�त,  डेटा,  होि�डंग,  यू�न�  स,से�यु�रट�ज़ आ�द म� समेकन म� या �कसी भी कारण से �कसी भी �वसंग�त क� ि�थ�त म�, य�द कोई पाई जाए, संबं�धत �युचुअल फ ं ड/RTA क े  �रकाड�/�डपॉिजटर� को अं�तम माना जाएगा और वह� मा�य होगा। ऐसे मामल� म�, �नवेशक� को 10 �दन� क े  भीतर संबं�धत DP/RTA या �युचुअल फ ं ड को �रवट� करना चा�हए।

3.

- 3. Queries if any for the NPS PRAN may be indicated to the respective POS for any clarification on the same. जा सकता है।

NPS PRAN क े  संबंध म� �कसी ��न क े  बारे म� �कसी �प�ट�करण क े  �लए संबं�धत POS को सू�चत �कया

4.

- 4. In case you do not desire to receive this statement going forward or you do not want to receive CAS from CDSL you are required to indicate the same to your Depository Participant with CDSL. तो आपको CDSL म� अपने �डपॉिजटर� ��तभागी को इस बारे म� सू�चत करना होगा।

य�द आप आगे यह �ववरण �ा�त नह�ं करना चाहते ह� या आप CDSL से CAS �ा�त नह�ं करना चाहते ह�

5.

- 5. In case of any queries or clarifications regarding the transactions or holdings in your demat account statement, kindly contact your respective Depository Participant and for transactions or holdings or any information pertaining to MF units, kindly contact the MF/RTA. For queries / complaints regarding receipt of CAS kindly write to us quoting your 16 digit demat account number and PAN of first holder at cas@cdslindia.com. म�, क ृ पया अपने संबं�धत �डपॉिजटर� ��तभागी से संपक �  कर� और लेनदेन या होि�डं�स या MF यू�न� स से संबं�धत �कसी जानकार� क े  �लए, क ृ पया MF/RTA से संपक �  कर�। CAS �ाि�त क े  संबंध म� ��न�/�शकायत� के  �लए क ृ पया cas@cdslindia.com पर अपना 16 अंक� का DEMAT खाता सं�या और �थम धारक क े PAN का उ�लेख करते ह ु ए हम� �लख�।

अपने DEMAT खाता �ववरण म� �कसी लेनदेन या होि�डंग क े  संबंध म� �कसी ��न या �प�ट�करण क� ि�थ�त

6.

- 6. We request you to contact your DP at the earliest if you have neither provided nomination details nor confirmation for opting out of nomination as yet. Please refer to our communique no. CDSL/OPS/DP/ POLCY/2022/107 dated February 25, along with SEBI circular nos. SEBI/HO/MIRSD/MIRSD_RTAMB/ P/CIR/2022/23 dated February 24, 2022. है, तो हम आपसे अनुरोध करते ह� �क शी�ा�तशी� अपने DP से संपक �  कर�। क ृ पया हमार� �व�ि�त सं�या CDSL/OPS/DP/POLCY/2022/107  �दनांक  25  फरवर�  और  SEBI  प�रप�  सं.  SEBI/HO/MIRSD/ MIRSD_RTAMB/P/CIR/2022/23 �दनांक 24 फरवर� 2022 देख�।

य�द आपने अभी तक न तो नामांकन �ववरण �दान �कया है और न ह� नामांकन से बाहर होने क� पुि�ट क�

- 7. To file  a  grievance  against  any  market  participant  in  accordance with SEBI Master Circular dated December 28, 2023 (as amended from time to time), please visit https://smartodr.in/login and follow the steps given therein.

In [3]:
import fitz  # PyMuPDF 
pdf_path = r"C:\Users\malhar.yadav\Downloads\sb.pdf"

try:
    # **Checkpoint 1: Verify if the file exists**
    if not os.path.exists(pdf_path):
        raise FileNotFoundError(f"File not found: {pdf_path}")

    print("Checkpoint 1: PDF file found.")

    # **Checkpoint 2: Read the file**
    with open(pdf_path, "rb") as f:
        your_binary_stream = f.read()
    buf = BytesIO(your_binary_stream)
    buf.seek(0)
    doc = fitz.open(stream=buf, filetype="pdf")  # Load PDF from memory
    first_page_text = doc[0].get_text("text")  # Extract text from first page
    if "CONSOLIDATED ACCOUNT STATEMENT" in first_page_text:
        print("PDF contains 'CONSOLIDATED ACCOUNT STATEMENT' on the first page.")
    # print("First Page Text:\n", first_page_text)
except Exception as e:
    print(f"PDF processing failed: {e}")

PDF processing failed: name 'os' is not defined

In [8]:
!pip list

Package                   Version
------------------------- -----------
annotated-types           0.7.0
asttokens                 3.0.0
attrs                     25.1.0
beautifulsoup4            4.13.3
blinker                   1.9.0
certifi                   2025.1.31
cffi                      1.17.1
charset-normalizer        3.4.1
click                     8.1.8
colorama                  0.4.6
comm                      0.2.2
cryptography              44.0.0
debugpy                   1.8.12
decorator                 5.2.1
dill                      0.3.9
docling                   2.25.1
docling-core              2.21.1
docling-ibm-models        3.4.1
docling-parse             3.4.0
easyocr                   1.7.2
et_xmlfile                2.0.0
executing                 2.2.0
filelock                  3.17.0
filetype                  1.2.0
Flask                     3.1.0
fsspec                    2025.2.0
huggingface-hub           0.29.1
idna                      3.10
imageio                   2.37.0
ipykernel                 6.29.5
ipython                   9.0.0
ipython_pygments_lexers   1.1.1
itsdangerous              2.2.0
jedi                      0.19.2
Jinja2                    3.1.5
jsonlines                 3.1.0
jsonref                   1.1.0
jsonschema                4.23.0
jsonschema-specifications 2024.10.1
jupyter_client            8.6.3
jupyter_core              5.7.2
latex2mathml              3.77.0
lazy_loader               0.4
lxml                      5.3.1
markdown-it-py            3.0.0
marko                     2.1.2
MarkupSafe                3.0.2
matplotlib-inline         0.1.7
mdurl                     0.1.2
mpire                     2.10.2
mpmath                    1.3.0
multiprocess              0.70.17
nest-asyncio              1.6.0
networkx                  3.4.2
ninja                     1.11.1.3
numpy                     2.2.2
opencv-python-headless    4.11.0.86
openpyxl                  3.1.5
packaging                 24.2
pandas                    2.2.3
parso                     0.8.4
pdfminer.six              20231228
pdfplumber                0.11.5
pillow                    11.1.0
pip                       25.0.1
pipdeptree                2.25.0
platformdirs              4.3.6
prompt_toolkit            3.0.50
psutil                    7.0.0
pure_eval                 0.2.3
pyclipper                 1.3.0.post6
pycparser                 2.22
pydantic                  2.10.6
pydantic_core             2.27.2
pydantic-settings         2.8.1
Pygments                  2.19.1
PyMuPDF                   1.25.3
pypdfium2                 4.30.1
python-bidi               0.6.6
python-dateutil           2.9.0.post0
python-docx               1.1.2
python-dotenv             1.0.1
python-pptx               1.0.2
pytz                      2025.1
pywin32                   308
PyYAML                    6.0.2
pyzmq                     26.2.1
referencing               0.36.2
regex                     2024.11.6
requests                  2.32.3
rich                      13.9.4
rpds-py                   0.23.1
Rtree                     1.3.0
safetensors               0.5.3
scikit-image              0.25.2
scipy                     1.15.2
semchunk                  2.2.2
setuptools                75.8.2
shapely                   2.0.7
shellingham               1.5.4
six                       1.17.0
soupsieve                 2.6
stack-data                0.6.3
sympy                     1.13.1
tabulate                  0.9.0
tifffile                  2025.2.18
tokenizers                0.21.0
torch                     2.6.0
torchvision               0.21.0
tornado                   6.4.2
tqdm                      4.67.1
traitlets                 5.14.3
transformers              4.49.0
typer                     0.12.5
typing_extensions         4.12.2
tzdata                    2025.1
urllib3                   2.3.0
wcwidth                   0.2.13
Werkzeug                  3.1.3
XlsxWriter                3.2.2

In [6]:
from docling.datamodel.pipeline_options import PdfPipelineOptions
from docling.document_converter import DocumentConverter, PdfFormatOption
from docling.datamodel.base_models import InputFormat, DocumentStream
import json
def process_page():
    """Process a single page of the PDF."""
    pipeline_options = PdfPipelineOptions(
        do_ocr=False,  # Assume digitally generated document
        table_detection_mode="lattice",
    )
    converter = DocumentConverter(
        format_options={InputFormat.PDF: PdfFormatOption(pipeline_options=pipeline_options)}
    )
    result = converter.convert(r"C:\Users\malhar.yadav\scripts\PdfToDashboard\uploads\sb.pdf")
    combineddata = result.document.export_to_dict()
    
    with open("finalextracted_data.json", "w", encoding="utf-8") as fp:
        json.dump(combineddata, fp, indent=4)
process_page()

In [7]:
with open("finalextracted_data.json", mode="r", encoding="utf-8") as fp:
    json_data = json.load(fp)
print(json_data["tables"][1])

{'self_ref': '#/tables/1', 'parent': {'$ref': '#/body'}, 'children': [], 'content_layer': 'body', 'label': 'table', 'prov': [{'page_no': 2, 'bbox': {'l': 19.538124084472656, 't': 482.61724853515625, 'r': 580.125732421875, 'b': 358.7234802246094, 'coord_origin': 'BOTTOMLEFT'}, 'charspan': [0, 0]}], 'captions': [], 'references': [], 'footnotes': [], 'data': {'table_cells': [{'bbox': {'l': 40.062, 't': 366.394, 'r': 99.939, 'b': 376.295, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 0, 'end_row_offset_idx': 1, 'start_col_offset_idx': 0, 'end_col_offset_idx': 1, 'text': 'Account Type खाते का �कार', 'column_header': True, 'row_header': False, 'row_section': False}, {'bbox': {'l': 189.797, 't': 366.394, 'r': 260.204, 'b': 376.295, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 0, 'end_row_offset_idx': 1, 'start_col_offset_idx': 1, 'end_col_offset_idx': 2, 'text': 'Account Details खाता �ववरण', 'column_header': True, 'row_header': False, 'row_section': False}, {'bbox': {'l': 355.712, 't': 366.394, 'r': 454.28900000000004, 'b': 376.295, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 0, 'end_row_offset_idx': 1, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': 'No. of ISINs/ Schemes ISIN/योजनाओं क� सं�या', 'column_header': True, 'row_header': False, 'row_section': False}, {'bbox': {'l': 508.427, 't': 366.394, 'r': 551.573, 'b': 376.295, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 0, 'end_row_offset_idx': 1, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': 'Value in ` ₹  म� मू�य', 'column_header': True, 'row_header': False, 'row_section': False}, {'bbox': {'l': 25.0, 't': 401.162, 'r': 110.50899999999999, 'b': 409.178, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 1, 'end_row_offset_idx': 2, 'start_col_offset_idx': 0, 'end_col_offset_idx': 1, 'text': 'CDSL Demat Account', 'column_header': False, 'row_header': True, 'row_section': False}, {'bbox': {'l': 125.0, 't': 396.662, 'r': 276.929, 'b': 413.678, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 1, 'end_row_offset_idx': 2, 'start_col_offset_idx': 1, 'end_col_offset_idx': 2, 'text': 'ANGEL ONE LIMITED DP Id: 12033200   Client Id :25422711', 'column_header': False, 'row_header': True, 'row_section': False}, {'bbox': {'l': 399.78, 't': 401.162, 'r': 410.22, 'b': 409.178, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 1, 'end_row_offset_idx': 2, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': '16', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 534.644, 't': 401.162, 'r': 575.0, 'b': 409.178, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 1, 'end_row_offset_idx': 2, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': '68,506.45', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 25.0, 't': 426.41700000000003, 'r': 100.15, 'b': 434.433, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 2, 'end_row_offset_idx': 3, 'start_col_offset_idx': 0, 'end_col_offset_idx': 1, 'text': 'Mutual Fund Folios', 'column_header': False, 'row_header': True, 'row_section': False}, {'bbox': {'l': 125.0, 't': 426.41700000000003, 'r': 155.258, 'b': 434.433, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 2, 'end_row_offset_idx': 3, 'start_col_offset_idx': 1, 'end_col_offset_idx': 2, 'text': '3 Folios', 'column_header': False, 'row_header': True, 'row_section': False}, {'bbox': {'l': 402.39, 't': 426.41700000000003, 'r': 407.61, 'b': 434.433, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 2, 'end_row_offset_idx': 3, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': '3', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 534.644, 't': 426.41700000000003, 'r': 575.0, 'b': 434.433, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 2, 'end_row_offset_idx': 3, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': '33,016.35', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 451.97, 't': 447.33500000000004, 'r': 475.0, 'b': 456.391, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 3, 'end_row_offset_idx': 4, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': 'Total', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 527.32, 't': 447.33500000000004, 'r': 575.0, 'b': 456.391, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 3, 'end_row_offset_idx': 4, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': '1,01,522.8', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 421.9, 't': 469.285, 'r': 475.0, 'b': 478.34100000000007, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 4, 'end_row_offset_idx': 5, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': 'Grand Total', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 521.52, 't': 469.285, 'r': 575.0, 'b': 478.34100000000007, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 4, 'end_row_offset_idx': 5, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': '1,01,522.80', 'column_header': False, 'row_header': False, 'row_section': False}], 'num_rows': 5, 'num_cols': 4, 'grid': [[{'bbox': {'l': 40.062, 't': 366.394, 'r': 99.939, 'b': 376.295, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 0, 'end_row_offset_idx': 1, 'start_col_offset_idx': 0, 'end_col_offset_idx': 1, 'text': 'Account Type खाते का �कार', 'column_header': True, 'row_header': False, 'row_section': False}, {'bbox': {'l': 189.797, 't': 366.394, 'r': 260.204, 'b': 376.295, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 0, 'end_row_offset_idx': 1, 'start_col_offset_idx': 1, 'end_col_offset_idx': 2, 'text': 'Account Details खाता �ववरण', 'column_header': True, 'row_header': False, 'row_section': False}, {'bbox': {'l': 355.712, 't': 366.394, 'r': 454.28900000000004, 'b': 376.295, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 0, 'end_row_offset_idx': 1, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': 'No. of ISINs/ Schemes ISIN/योजनाओं क� सं�या', 'column_header': True, 'row_header': False, 'row_section': False}, {'bbox': {'l': 508.427, 't': 366.394, 'r': 551.573, 'b': 376.295, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 0, 'end_row_offset_idx': 1, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': 'Value in ` ₹  म� मू�य', 'column_header': True, 'row_header': False, 'row_section': False}], [{'bbox': {'l': 25.0, 't': 401.162, 'r': 110.50899999999999, 'b': 409.178, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 1, 'end_row_offset_idx': 2, 'start_col_offset_idx': 0, 'end_col_offset_idx': 1, 'text': 'CDSL Demat Account', 'column_header': False, 'row_header': True, 'row_section': False}, {'bbox': {'l': 125.0, 't': 396.662, 'r': 276.929, 'b': 413.678, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 1, 'end_row_offset_idx': 2, 'start_col_offset_idx': 1, 'end_col_offset_idx': 2, 'text': 'ANGEL ONE LIMITED DP Id: 12033200   Client Id :25422711', 'column_header': False, 'row_header': True, 'row_section': False}, {'bbox': {'l': 399.78, 't': 401.162, 'r': 410.22, 'b': 409.178, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 1, 'end_row_offset_idx': 2, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': '16', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 534.644, 't': 401.162, 'r': 575.0, 'b': 409.178, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 1, 'end_row_offset_idx': 2, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': '68,506.45', 'column_header': False, 'row_header': False, 'row_section': False}], [{'bbox': {'l': 25.0, 't': 426.41700000000003, 'r': 100.15, 'b': 434.433, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 2, 'end_row_offset_idx': 3, 'start_col_offset_idx': 0, 'end_col_offset_idx': 1, 'text': 'Mutual Fund Folios', 'column_header': False, 'row_header': True, 'row_section': False}, {'bbox': {'l': 125.0, 't': 426.41700000000003, 'r': 155.258, 'b': 434.433, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 2, 'end_row_offset_idx': 3, 'start_col_offset_idx': 1, 'end_col_offset_idx': 2, 'text': '3 Folios', 'column_header': False, 'row_header': True, 'row_section': False}, {'bbox': {'l': 402.39, 't': 426.41700000000003, 'r': 407.61, 'b': 434.433, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 2, 'end_row_offset_idx': 3, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': '3', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 534.644, 't': 426.41700000000003, 'r': 575.0, 'b': 434.433, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 2, 'end_row_offset_idx': 3, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': '33,016.35', 'column_header': False, 'row_header': False, 'row_section': False}], [{'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 3, 'end_row_offset_idx': 4, 'start_col_offset_idx': 0, 'end_col_offset_idx': 1, 'text': '', 'column_header': False, 'row_header': False, 'row_section': False}, {'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 3, 'end_row_offset_idx': 4, 'start_col_offset_idx': 1, 'end_col_offset_idx': 2, 'text': '', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 451.97, 't': 447.33500000000004, 'r': 475.0, 'b': 456.391, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 3, 'end_row_offset_idx': 4, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': 'Total', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 527.32, 't': 447.33500000000004, 'r': 575.0, 'b': 456.391, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 3, 'end_row_offset_idx': 4, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': '1,01,522.8', 'column_header': False, 'row_header': False, 'row_section': False}], [{'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 4, 'end_row_offset_idx': 5, 'start_col_offset_idx': 0, 'end_col_offset_idx': 1, 'text': '', 'column_header': False, 'row_header': False, 'row_section': False}, {'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 4, 'end_row_offset_idx': 5, 'start_col_offset_idx': 1, 'end_col_offset_idx': 2, 'text': '', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 421.9, 't': 469.285, 'r': 475.0, 'b': 478.34100000000007, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 4, 'end_row_offset_idx': 5, 'start_col_offset_idx': 2, 'end_col_offset_idx': 3, 'text': 'Grand Total', 'column_header': False, 'row_header': False, 'row_section': False}, {'bbox': {'l': 521.52, 't': 469.285, 'r': 575.0, 'b': 478.34100000000007, 'coord_origin': 'TOPLEFT'}, 'row_span': 1, 'col_span': 1, 'start_row_offset_idx': 4, 'end_row_offset_idx': 5, 'start_col_offset_idx': 3, 'end_col_offset_idx': 4, 'text': '1,01,522.80', 'column_header': False, 'row_header': False, 'row_section': False}]]}}